n8n-signal-tracker.json
{
  "name": "Signal Performance Tracker v1.0 (Supabase)",
  "nodes": [
    {
      "id": "trk_cron",
      "name": "Check Every 2min",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        200,
        400
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 2
            }
          ]
        }
      }
    },
    {
      "id": "trk_read",
      "name": "Get Active Signals",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        450,
        400
      ],
      "parameters": {
        "method": "GET",
        "url": "={{ $env.SUPABASE_URL + '/rest/v1/signals?status=eq.ACTIVE&select=*' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_KEY }}"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "trk_prices",
      "name": "Get Binance Prices",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        700,
        400
      ],
      "parameters": {
        "url": "https://fapi.binance.com/fapi/v1/ticker/price",
        "options": {}
      }
    },
    {
      "id": "trk_check",
      "name": "Check TP SL Hits",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        950,
        400
      ],
      "parameters": {
        "jsCode": "const signalsRaw = $('Get Active Signals').first().json;\nconst signals = Array.isArray(signalsRaw) ? signalsRaw : [signalsRaw];\nconst pricesRaw = $('Get Binance Prices').first().json;\nconst prices = Array.isArray(pricesRaw) ? pricesRaw : [pricesRaw];\nconst priceMap = {};\nprices.forEach(p => { if(p.symbol) priceMap[p.symbol] = parseFloat(p.price); });\n\nconst results = [];\nconst now = new Date().toISOString();\n\nfor (const s of signals) {\n  if (!s.symbol || s.status !== 'ACTIVE') continue;\n  const cp = priceMap[s.symbol];\n  if (!cp) continue;\n\n  const entry = parseFloat(s.entry_price);\n  const tp1 = parseFloat(s.tp1);\n  const tp2 = parseFloat(s.tp2);\n  const tp3 = parseFloat(s.tp3);\n  const sl = parseFloat(s.sl);\n  const isBuy = s.signal === 'STRONG BUY';\n\n  let status = 'ACTIVE';\n  let profitPct = isBuy ? ((cp - entry) / entry * 100) : ((entry - cp) / entry * 100);\n\n  if (isBuy) {\n    if (cp <= sl) status = 'SL_HIT';\n    else if (cp >= tp3) status = 'TP3_HIT';\n    else if (cp >= tp2) status = 'TP2_HIT';\n    else if (cp >= tp1) status = 'TP1_HIT';\n  } else {\n    if (cp >= sl) status = 'SL_HIT';\n    else if (cp <= tp3) status = 'TP3_HIT';\n    else if (cp <= tp2) status = 'TP2_HIT';\n    else if (cp <= tp1) status = 'TP1_HIT';\n  }\n\n  // Expire after 24h\n  if (status === 'ACTIVE' && s.sent_at) {\n    const ageH = (Date.now() - new Date(s.sent_at).getTime()) / 3600000;\n    if (ageH > 24) status = 'EXPIRED';\n  }\n\n  if (status !== 'ACTIVE') {\n    const mins = s.sent_at ? Math.round((Date.now() - new Date(s.sent_at).getTime()) / 60000) : 0;\n    const dur = mins >= 60 ? Math.floor(mins/60)+'h '+mins%60+'m' : mins+'m';\n    results.push({ json: {\n      id: s.id, symbol: s.symbol, signal: s.signal, signal_type: s.signal_type,\n      entry_price: s.entry_price, tp1: s.tp1, tp2: s.tp2, tp3: s.tp3, sl: s.sl,\n      score: s.score, status, profit_pct: Math.round(profitPct*100)/100,\n      hit_time: now, duration: dur, current_price: cp,\n      hitTarget: status.replace('_HIT',''), changed: true\n    }});\n  }\n}\nif (results.length === 0) return [{ json: { changed: false } }];\nreturn results;"
      }
    },
    {
      "id": "trk_filter",
      "name": "Has Hits?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1200,
        400
      ],
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.changed }}",
              "value2": true
            }
          ]
        }
      }
    },
    {
      "id": "trk_update",
      "name": "Update Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1500,
        300
      ],
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.SUPABASE_URL + '/rest/v1/signals?id=eq.' + $json.id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ status: $json.status, profit_pct: $json.profit_pct, hit_time: $json.hit_time, duration: $json.duration, current_price: $json.current_price }) }}",
        "options": {}
      }
    },
    {
      "id": "trk_tele",
      "name": "Telegram TP SL Alert",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1500,
        500
      ],
      "credentials": {
        "telegramApi": {
          "id": "aNtvHk0oDffDwsLX",
          "name": "Telegram account"
        }
      },
      "parameters": {
        "chatId": "@cryptospikehunter",
        "text": "={{ $json.status === 'SL_HIT' ? '❌ SL HIT' : '✅ ' + $json.hitTarget + ' HIT' }} — {{ $json.symbol }}\n\nEntry: {{ $json.entry_price }} → {{ $json.current_price }} ({{ $json.profit_pct }}%)\nType: {{ $json.signal_type }} | Score: {{ $json.score }}\nDuration: {{ $json.duration }}\nResult: {{ $json.status === 'SL_HIT' ? 'LOSS ❌' : 'WIN ✅' }}\n\n{{ $json.hitTarget === 'TP1' ? '👉 Move SL to Break-Even' : $json.hitTarget === 'TP2' ? '👉 Close 50%, trail to TP3' : $json.hitTarget === 'TP3' ? '🏆 Full Target! CLOSE ALL' : '' }}",
        "additionalFields": {}
      }
    },
    {
      "id": "trk_daily",
      "name": "Daily Report 00:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        200,
        700
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 17 * * *"
            }
          ]
        }
      }
    },
    {
      "id": "trk_daily_read",
      "name": "Get Daily Stats",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        450,
        700
      ],
      "parameters": {
        "method": "GET",
        "url": "={{ $env.SUPABASE_URL + '/rest/v1/daily_stats?trade_date=eq.' + $now.setZone('Asia/Jakarta').toFormat('yyyy-MM-dd') + '&select=*' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_KEY }}"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "trk_daily_build",
      "name": "Build Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        700,
        700
      ],
      "parameters": {
        "jsCode": "const raw = $('Get Daily Stats').first().json;\nconst stats = Array.isArray(raw) ? raw[0] : raw;\nif (!stats || !stats.trade_date) {\n  return [{ json: { report: '📊 Daily Report\\n\\nNo signals today.' } }];\n}\nconst r = '📊 Daily Report — ' + stats.trade_date + '\\n\\n' +\n  'Total: ' + stats.total_signals + ' signals\\n' +\n  '✅ Wins: ' + stats.wins + '\\n' +\n  '❌ Losses: ' + stats.losses + '\\n' +\n  '⏳ Expired: ' + stats.expired + '\\n' +\n  '🔄 Active: ' + stats.active + '\\n\\n' +\n  'Win Rate: ' + (stats.win_rate || 0) + '%\\n' +\n  'Avg Profit: ' + (stats.avg_profit || 0) + '%\\n' +\n  'Best: +' + (stats.best_trade || 0) + '%\\n' +\n  'Worst: ' + (stats.worst_trade || 0) + '%';\nreturn [{ json: { report: r } }];"
      }
    },
    {
      "id": "trk_daily_tele",
      "name": "Send Daily Report",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        950,
        700
      ],
      "credentials": {
        "telegramApi": {
          "id": "aNtvHk0oDffDwsLX",
          "name": "Telegram account"
        }
      },
      "parameters": {
        "chatId": "@cryptospikehunter",
        "text": "={{ $json.report }}",
        "additionalFields": {}
      }
    }
  ],
  "connections": {
    "Check Every 2min": {
      "main": [
        [
          {
            "node": "Get Active Signals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Active Signals": {
      "main": [
        [
          {
            "node": "Get Binance Prices",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Binance Prices": {
      "main": [
        [
          {
            "node": "Check TP SL Hits",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check TP SL Hits": {
      "main": [
        [
          {
            "node": "Has Hits?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Hits?": {
      "main": [
        [
          {
            "node": "Update Supabase",
            "type": "main",
            "index": 0
          },
          {
            "node": "Telegram TP SL Alert",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Daily Report 00:00": {
      "main": [
        [
          {
            "node": "Get Daily Stats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Daily Stats": {
      "main": [
        [
          {
            "node": "Build Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Report": {
      "main": [
        [
          {
            "node": "Send Daily Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "versionId": "",
  "triggerCount": 2
}