n8n-workflow-hybrid-v17.0.json
{
  "name": "Spike Hunter Pro v17.0 — Professional Hybrid Engine",
  "nodes": [
    {
      "id": "n1",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        -2200,
        800
      ],
      "webhookId": "crypto-signal",
      "parameters": {
        "httpMethod": "POST",
        "path": "crypto-signal",
        "responseMode": "onReceived",
        "responseData": "allEntries",
        "options": {}
      }
    },
    {
      "id": "n2",
      "name": "Get Klines 1h",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -1900,
        800
      ],
      "parameters": {
        "url": "https://fapi.binance.com/fapi/v1/klines",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "symbol",
              "value": "={{ $json.body.symbol }}"
            },
            {
              "name": "interval",
              "value": "1h"
            },
            {
              "name": "limit",
              "value": "1500"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      }
    },
    {
      "id": "n3",
      "name": "Get Klines 4h",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -1650,
        800
      ],
      "parameters": {
        "url": "https://fapi.binance.com/fapi/v1/klines",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "symbol",
              "value": "={{ $('Webhook Trigger').first().json.body.symbol }}"
            },
            {
              "name": "interval",
              "value": "4h"
            },
            {
              "name": "limit",
              "value": "1500"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      }
    },
    {
      "id": "n4",
      "name": "Get Klines 1D",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -1400,
        800
      ],
      "parameters": {
        "url": "https://fapi.binance.com/fapi/v1/klines",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "symbol",
              "value": "={{ $('Webhook Trigger').first().json.body.symbol }}"
            },
            {
              "name": "interval",
              "value": "1d"
            },
            {
              "name": "limit",
              "value": "1500"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      }
    },
    {
      "id": "n5",
      "name": "Get Funding Rate",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -1100,
        500
      ],
      "parameters": {
        "url": "https://fapi.binance.com/fapi/v1/fundingRate",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "symbol",
              "value": "={{ $('Webhook Trigger').first().json.body.symbol }}"
            },
            {
              "name": "limit",
              "value": "100"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "n6",
      "name": "Get OI History",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -1100,
        700
      ],
      "parameters": {
        "url": "https://fapi.binance.com/futures/data/openInterestHist",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "symbol",
              "value": "={{ $('Webhook Trigger').first().json.body.symbol }}"
            },
            {
              "name": "period",
              "value": "1h"
            },
            {
              "name": "limit",
              "value": "30"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "n7",
      "name": "Get Long Short Ratio",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -1100,
        900
      ],
      "parameters": {
        "url": "https://fapi.binance.com/futures/data/globalLongShortAccountRatio",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "symbol",
              "value": "={{ $('Webhook Trigger').first().json.body.symbol }}"
            },
            {
              "name": "period",
              "value": "1h"
            },
            {
              "name": "limit",
              "value": "30"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "n8",
      "name": "Get Taker Volume",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -1100,
        1100
      ],
      "parameters": {
        "url": "https://fapi.binance.com/futures/data/takerlongshortRatio",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "symbol",
              "value": "={{ $('Webhook Trigger').first().json.body.symbol }}"
            },
            {
              "name": "period",
              "value": "1h"
            },
            {
              "name": "limit",
              "value": "30"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "n9",
      "name": "Pro Analisa TA v17.0",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -650,
        800
      ],
      "parameters": {
        "jsCode": "// v17.0 PROFESSIONAL HYBRID ENGINE\n// Primary: TREND-FOLLOWING (follow momentum)\n// Secondary: COUNTER-TREND (only with reversal proof)\n// Rule: Only notify if engine is CONFIDENT\n\nconst webhookData = $('Webhook Trigger').first().json.body;\nconst symbol = webhookData.symbol;\nconst wsPctChange = parseFloat(webhookData.priceChangePercent);\nconst wsDirection = webhookData.direction;\nconst dynamicThreshold = webhookData.threshold ? parseFloat(webhookData.threshold) : 2.0;\nconst nowTs = Date.now();\n\n// ═══ FRESHNESS ═══\nif (webhookData.triggeredAt) {\n  const ageSec = Math.round((nowTs - new Date(webhookData.triggeredAt).getTime()) / 1000);\n  if (ageSec > 180) return [{ json: { isHot: false, symbol, rejectReason: 'STALE: ' + ageSec + 's' } }];\n}\n\n// ═══ RATE LIMIT + DEDUP ═══\nconst state = $getWorkflowStaticData('global');\nif (!state.signalCache) state.signalCache = {};\nfor (const key of Object.keys(state.signalCache)) {\n  if (nowTs - state.signalCache[key].ts > 6 * 3600000) delete state.signalCache[key];\n}\nconst dedupKey = symbol + '_' + wsDirection;\nconst lastEntry = state.signalCache[dedupKey];\nif (lastEntry && (nowTs - lastEntry.ts < 900000)) {\n  return [{ json: { isHot: false, symbol, rejectReason: 'RATE LIMIT 15min' } }];\n}\n\n// ═══ KLINES PARSING ═══\nfunction parseKlines(nodeName) {\n  try {\n    let raw = $(nodeName).first().json;\n    let data = Array.isArray(raw) ? raw : (typeof raw.data === 'string' ? JSON.parse(raw.data) : raw.data);\n    if (!Array.isArray(data) || data.length < 20) return null;\n    return {\n      open: data.map(k => parseFloat(k[1])),\n      high: data.map(k => parseFloat(k[2])),\n      low: data.map(k => parseFloat(k[3])),\n      close: data.map(k => parseFloat(k[4])),\n      volume: data.map(k => parseFloat(k[5]))\n    };\n  } catch(e) { return null; }\n}\n\nconst tf1h = parseKlines('Get Klines 1h');\nconst tf4h = parseKlines('Get Klines 4h');\nconst tf1d = parseKlines('Get Klines 1D');\nif (!tf1h) return [{ json: { isHot: false, symbol, rejectReason: 'No 1H data' } }];\n\n// ═══ VOLUME FILTER ═══\nvar quoteVol = parseFloat(webhookData.quoteVolume || 0);\nif (quoteVol > 0 && quoteVol < 1000000) {\n  return [{ json: { isHot: false, symbol, rejectReason: 'Vol ' + (quoteVol/1e6).toFixed(2) + 'M < $1M' } }];\n}\nvar volTier = quoteVol < 5000000 ? 'LOW' : quoteVol < 20000000 ? 'MEDIUM' : 'HIGH';\nvar volPenalty = volTier === 'LOW' ? -10 : 0;\nvar volWarning = volTier === 'LOW' ? 'Low Liquidity ($' + (quoteVol/1e6).toFixed(1) + 'M)' : '';\n\n// ═══ FUTURES DATA ═══\nlet fundingRate = 0, fundingTrend = 'NEUTRAL', fundingLabel = 'N/A';\ntry {\n  const frArr = $('Get Funding Rate').first().json;\n  const frData = Array.isArray(frArr) ? frArr : [frArr];\n  if (frData.length > 0) {\n    fundingRate = parseFloat(frData[frData.length-1].fundingRate || 0);\n    const frPctVal = fundingRate * 100;\n    if (frData.length >= 8) {\n      const recent3 = frData.slice(-3).reduce((a,f) => a+parseFloat(f.fundingRate||0),0)/3;\n      const older8 = frData.slice(-8,-3).reduce((a,f) => a+parseFloat(f.fundingRate||0),0)/5;\n      if (recent3 < older8 - 0.0002) fundingTrend = 'FALLING';\n      else if (recent3 > older8 + 0.0002) fundingTrend = 'RISING';\n    }\n    fundingLabel = (frPctVal>=0?'+':'') + frPctVal.toFixed(3) + '% (' + fundingTrend + ')';\n    if (frPctVal < -0.1) fundingLabel = frPctVal.toFixed(3) + '% SHORT SQUEEZE';\n    else if (frPctVal > 0.1) fundingLabel = '+' + frPctVal.toFixed(3) + '% LONG LURE';\n  }\n} catch(e) {}\nconst frPct = fundingRate * 100;\n\nlet oiTrend = 'NEUTRAL', oiLabel = 'N/A', oiChange = 0;\ntry {\n  var oiArr = $('Get OI History').first().json;\n  var oiData = Array.isArray(oiArr) ? oiArr : [oiArr];\n  if (oiData.length >= 5) {\n    var lastOI = parseFloat(oiData[oiData.length-1].sumOpenInterest || oiData[oiData.length-1].openInterest || 0);\n    var prevOI = parseFloat(oiData[oiData.length-5].sumOpenInterest || oiData[oiData.length-5].openInterest || 0);\n    oiChange = prevOI > 0 ? ((lastOI - prevOI) / prevOI * 100) : 0;\n    oiTrend = oiChange > 3 ? 'RISING' : oiChange < -3 ? 'FALLING' : 'STABLE';\n    var oiStr = lastOI > 1e9 ? (lastOI/1e9).toFixed(2)+'B' : lastOI > 1e6 ? (lastOI/1e6).toFixed(1)+'M' : lastOI.toFixed(0);\n    oiLabel = oiStr + ' ' + (oiTrend === 'RISING' ? 'UP+' : oiTrend === 'FALLING' ? 'DN' : '=') + oiChange.toFixed(1) + '%';\n  }\n} catch(e) {}\n\nlet lsRatio = 1.0, lsLabel = 'N/A';\ntry {\n  const lsArr = $('Get Long Short Ratio').first().json;\n  const lsData = Array.isArray(lsArr) ? lsArr : [lsArr];\n  if (lsData.length > 0) {\n    lsRatio = parseFloat(lsData[lsData.length-1].longShortRatio || 1.0);\n    lsLabel = lsRatio.toFixed(2);\n    if (lsRatio > 2.5) lsLabel += ' CROWDED LONG';\n    else if (lsRatio < 0.5) lsLabel += ' CROWDED SHORT';\n    else lsLabel += ' Balanced';\n  }\n} catch(e) {}\n\nlet takerRatio = 1.0, takerLabel = 'N/A', takerBias = 'NEUTRAL';\ntry {\n  const tkArr = $('Get Taker Volume').first().json;\n  const tkData = Array.isArray(tkArr) ? tkArr : [tkArr];\n  if (tkData.length > 0) {\n    const last = tkData[tkData.length-1];\n    const buyVol = parseFloat(last.buyVol || 0);\n    const sellVol = parseFloat(last.sellVol || 0);\n    takerRatio = sellVol > 0 ? buyVol / sellVol : 1;\n    if (takerRatio > 1.3) { takerBias = 'BUY'; takerLabel = takerRatio.toFixed(2) + ' Buyers'; }\n    else if (takerRatio < 0.7) { takerBias = 'SELL'; takerLabel = takerRatio.toFixed(2) + ' Sellers'; }\n    else takerLabel = takerRatio.toFixed(2) + ' Balanced';\n  }\n} catch(e) {}\n\n// ═══ INDICATORS ═══\nfunction calcEMA(p,n){if(p.length<n)return p[p.length-1]||0;var k=2/(n+1),e=p.slice(0,n).reduce((a,b)=>a+b)/n;for(var i=n;i<p.length;i++)e=(p[i]-e)*k+e;return e;}\nfunction calcEMAArr(p,n){var k=2/(n+1),e=p.slice(0,n).reduce((a,b)=>a+b)/n;var r=new Array(n-1).fill(null);r.push(e);for(var i=n;i<p.length;i++){e=(p[i]-e)*k+e;r.push(e);}return r;}\nfunction calcRSI(p,n){n=n||14;if(p.length<n+1)return 50;var g=0,lo=0;for(var i=1;i<=n;i++){var d=p[i]-p[i-1];d>=0?g+=d:lo-=d;}var ag=g/n,al=lo/n;for(var i=n+1;i<p.length;i++){var d=p[i]-p[i-1];ag=((ag*(n-1))+(d>=0?d:0))/n;al=((al*(n-1))+(d<0?-d:0))/n;}return al===0?100:100-(100/(1+(ag/al)));}\nfunction calcRSIArr(p,n){n=n||14;var r=[];for(var i=0;i<p.length;i++){if(i<n){r.push(null);continue;}r.push(calcRSI(p.slice(0,i+1),n));}return r;}\nfunction calcMACD(p){var e12=calcEMAArr(p,12),e26=calcEMAArr(p,26),ml=[];for(var i=0;i<p.length;i++)if(e12[i]!==null&&e26[i]!==null)ml.push(e12[i]-e26[i]);if(ml.length<9)return{h:0,ph:0,cu:false,cd:false};var sl=calcEMAArr(ml,9);var lm=ml[ml.length-1],ls=sl[sl.length-1]||0,pm=ml[ml.length-2]||lm,ps=sl[sl.length-2]||ls;return{h:lm-ls,ph:pm-ps,cu:pm<=ps&&lm>ls,cd:pm>=ps&&lm<ls};}\nfunction calcATR(h,l,c,n){n=n||14;if(h.length<n+1)return 0;var t=[h[0]-l[0]];for(var i=1;i<h.length;i++)t.push(Math.max(h[i]-l[i],Math.abs(h[i]-c[i-1]),Math.abs(l[i]-c[i-1])));var a=t.slice(0,n).reduce((x,y)=>x+y)/n;for(var i=n;i<t.length;i++)a=(a*(n-1)+t[i])/n;return a;}\n\nfunction detectRSIDivergence(c,l,h,rsiArr,lookback) {\n  lookback=lookback||40;var idx=c.length-1;if(idx<lookback||!rsiArr[idx])return{bullish:false,bearish:false};\n  var startIdx=idx-lookback,bullDiv=false,bearDiv=false;\n  for(var i=startIdx+2;i<idx-2;i++){if(!rsiArr[i])continue;\n    var isSwL=l[i]<=l[i-1]&&l[i]<=l[i-2]&&l[i]<=l[i+1]&&l[i]<=l[i+2];\n    if(isSwL&&(l[idx]<l[i]||Math.abs(l[idx]-l[i])/l[i]<0.005)){if(rsiArr[idx]>rsiArr[i]+3){bullDiv=true;break;}}\n  }\n  for(var i=startIdx+2;i<idx-2;i++){if(!rsiArr[i])continue;\n    var isSwH=h[i]>=h[i-1]&&h[i]>=h[i-2]&&h[i]>=h[i+1]&&h[i]>=h[i+2];\n    if(isSwH&&(h[idx]>h[i]||Math.abs(h[idx]-h[i])/h[i]<0.005)){if(rsiArr[idx]<rsiArr[i]-3){bearDiv=true;break;}}\n  }\n  return{bullish:bullDiv,bearish:bearDiv};\n}\n\n// ═══ 1H ANALYSIS ═══\nvar c=tf1h.close,h=tf1h.high,l=tf1h.low,o=tf1h.open,v=tf1h.volume;\nvar price=c[c.length-1],idx=c.length-1;\nvar _rsi=calcRSI(c),_rsiArr=calcRSIArr(c,14),_macd=calcMACD(c),_atr=calcATR(h,l,c);\nvar E21=calcEMA(c,21),E50=calcEMA(c,50),E200=calcEMA(c,200);\nvar avgVol=v.slice(-20).reduce((a,b)=>a+b)/20;\nvar volRatio=avgVol>0?v[v.length-1]/avgVol:1;\nvar body=Math.abs(c[idx]-o[idx]),range=h[idx]-l[idx];\nvar bodyRatio=range>0?body/range:0;\nvar upperWick=h[idx]-Math.max(c[idx],o[idx]);\nvar lowerWick=Math.min(c[idx],o[idx])-l[idx];\nvar isGreen=c[idx]>o[idx], isRed=!isGreen;\nvar atrPct=price>0?(_atr/price)*100:0;\nvar _rsiDiv=detectRSIDivergence(c,l,h,_rsiArr,40);\n\n// Last 3 candles for reversal detection\nvar last3Green = 0, last3Red = 0;\nfor (var k = idx; k >= Math.max(0, idx-2); k--) {\n  if (c[k] > o[k]) last3Green++; else last3Red++;\n}\n\n// Freefall detection\nvar ffCount=0;\nfor(var k=idx-5;k<=idx;k++){if(k>24){var ll=Math.min.apply(null,l.slice(k-24,k));if(l[k]<ll)ffCount++;}}\n\n// Support/Resistance\nvar res1h=Math.max.apply(null,h.slice(-500));\nvar sup1h=Math.min.apply(null,l.slice(-500));\n\n// ═══ MULTI-TIMEFRAME ═══\nvar trend4h='SIDEWAYS',rsi4h=50,bias4h='NEUTRAL';\nif(tf4h){var c4=tf4h.close;var E21_4=calcEMA(c4,21),E50_4=calcEMA(c4,50);var p4=c4[c4.length-1];rsi4h=calcRSI(c4);\n  if(p4>E21_4&&E21_4>E50_4){trend4h='UPTREND';bias4h='BULLISH';}\n  else if(p4<E21_4&&E21_4<E50_4){trend4h='DOWNTREND';bias4h='BEARISH';}}\n\nvar dailyTrend='NEUTRAL',weeklyBias='NEUTRAL';\nif(tf1d){var dc=tf1d.close;var dE21=calcEMA(dc,21),dE50=calcEMA(dc,50),dE200=calcEMA(dc,200);var dp=dc[dc.length-1];\n  if(dp>dE21&&dE21>dE50)dailyTrend='BULLISH';\n  else if(dp<dE21&&dE21<dE50)dailyTrend='BEARISH';\n  else if(dp>dE21)dailyTrend='ABOVE_EMA';\n  else dailyTrend='BELOW_EMA';\n  weeklyBias=dp>dE200?'ABOVE MA200':'BELOW MA200';}\n\n// ════════════════════════════════════════════════════════════\n// v17.0 SIGNAL DECISION ENGINE\n// ════════════════════════════════════════════════════════════\nvar signal='NEUTRAL',strategy='WAIT',confidence='LOW',score=0;\nvar reasons=[],signalType='NONE';\nvar absPct = Math.abs(wsPctChange);\n\nif (absPct < dynamicThreshold) {\n  return [{ json: { isHot: false, symbol, rejectReason: 'Change ' + wsPctChange.toFixed(1) + '% < threshold' } }];\n}\n\n// ═══ PUMP SCENARIO (price going UP) ═══\nif (wsPctChange >= dynamicThreshold) {\n\n  // === PRIORITY 1: MOMENTUM BUY (follow the pump) ===\n  // Conditions: RSI healthy (50-75), trend aligned, volume OK\n  var momentumBuyOk = _rsi >= 50 && _rsi <= 75 && volRatio >= 1.2 && isGreen\n    && (bias4h === 'BULLISH' || dailyTrend === 'BULLISH' || dailyTrend === 'ABOVE_EMA')\n    && ffCount < 2 && _macd.h > 0;\n\n  if (momentumBuyOk) {\n    score = 0;\n    // Score it\n    if (_rsi >= 55 && _rsi <= 68) { score += 20; reasons.push('RSI ' + _rsi.toFixed(0) + ' healthy momentum'); }\n    else { score += 10; reasons.push('RSI ' + _rsi.toFixed(0)); }\n    if (volRatio >= 3) { score += 20; reasons.push('Vol ' + volRatio.toFixed(1) + 'x massive'); }\n    else if (volRatio >= 2) { score += 15; reasons.push('Vol ' + volRatio.toFixed(1) + 'x strong'); }\n    else { score += 8; reasons.push('Vol ' + volRatio.toFixed(1) + 'x'); }\n    if (bodyRatio > 0.6) { score += 12; reasons.push('Strong body'); }\n    if (_macd.cu) { score += 15; reasons.push('MACD Bull Cross'); }\n    else if (_macd.h > _macd.ph) { score += 8; reasons.push('MACD rising'); }\n    if (bias4h === 'BULLISH') { score += 12; reasons.push('4H UPTREND'); }\n    if (dailyTrend === 'BULLISH') { score += 10; reasons.push('Daily BULL'); }\n    if (takerBias === 'BUY') { score += 10; reasons.push('Taker BUY'); }\n    if (oiTrend === 'RISING') { score += 8; reasons.push('OI rising (new positions)'); }\n    if (frPct < -0.05) { score += 10; reasons.push('FR negative (squeeze fuel)'); }\n    if (_rsiDiv.bullish) { score += 12; reasons.push('RSI BULL DIV'); }\n    if (price > E21 && E21 > E50) { score += 8; reasons.push('Above EMA21>50'); }\n    score += volPenalty;\n\n    if (score >= 65) {\n      signalType = 'MOMENTUM';\n      signal = 'STRONG BUY'; strategy = 'LONG (Momentum Follow)';\n      confidence = score >= 75 ? 'VERY HIGH' : score >= 65 ? 'HIGH' : 'MEDIUM';\n    }\n  }\n\n  // === PRIORITY 2: BREAKOUT BUY ===\n  if (signal === 'NEUTRAL') {\n    var dRes = (price - res1h) / price * 100;\n    var breakoutOk = dRes > 0 && volRatio >= 1.5 && isGreen && bodyRatio > 0.4\n      && (range > 0 && upperWick/range < 0.4) && _rsi >= 50 && _rsi <= 78;\n\n    if (breakoutOk) {\n      score = 0;\n      score += 15; reasons.push('BREAKOUT above resistance');\n      if (volRatio >= 3) { score += 20; reasons.push('Vol ' + volRatio.toFixed(1) + 'x breakout volume'); }\n      else if (volRatio >= 2) { score += 12; reasons.push('Vol ' + volRatio.toFixed(1) + 'x'); }\n      else { score += 6; }\n      if (bodyRatio > 0.7) { score += 12; reasons.push('Marubozu breakout'); }\n      if (_macd.cu) { score += 12; reasons.push('MACD Bull Cross'); }\n      if (bias4h === 'BULLISH') { score += 10; reasons.push('4H confirms'); }\n      if (dailyTrend === 'BULLISH') { score += 8; reasons.push('Daily confirms'); }\n      if (takerBias === 'BUY') { score += 10; reasons.push('Taker BUY'); }\n      if (frPct < -0.05) { score += 8; reasons.push('FR squeeze fuel'); }\n      score += volPenalty;\n\n      if (score >= 65) {\n        signalType = 'BREAKOUT';\n        signal = 'STRONG BUY'; strategy = 'LONG (Breakout)';\n        confidence = score >= 70 ? 'VERY HIGH' : score >= 60 ? 'HIGH' : 'MEDIUM';\n      }\n    }\n  }\n\n  // === PRIORITY 3: REVERSAL SHORT (counter-trend, STRICT) ===\n  if (signal === 'NEUTRAL') {\n    // HARD REQUIREMENTS for counter-trend SHORT:\n    // 1. RSI must be > 78 (extreme overbought)\n    // 2. Last 2 candles must be RED (sellers taking over)\n    // 3. MACD must be declining or bear cross\n    // 4. Upper wick rejection present\n    var reversalShortOk = _rsi >= 78 && last3Red >= 2\n      && (_macd.cd || (_macd.h > 0 && _macd.h < _macd.ph))\n      && (range > 0 && upperWick/range > 0.3);\n\n    if (reversalShortOk) {\n      score = 0;\n      if (_rsi >= 90) { score += 25; reasons.push('RSI ' + _rsi.toFixed(0) + ' EXTREME OB'); }\n      else if (_rsi >= 85) { score += 20; reasons.push('RSI ' + _rsi.toFixed(0) + ' very OB'); }\n      else { score += 15; reasons.push('RSI ' + _rsi.toFixed(0) + ' OB'); }\n      score += 15; reasons.push(last3Red + ' red candles (sellers active)');\n      if (_macd.cd) { score += 15; reasons.push('MACD Bear Cross'); }\n      else { score += 8; reasons.push('MACD declining'); }\n      if (upperWick/range > 0.5) { score += 12; reasons.push('Strong wick rejection'); }\n      else { score += 6; reasons.push('Wick rejection'); }\n      if (wsPctChange >= 15) { score += 12; reasons.push('Pump ' + wsPctChange.toFixed(1) + '% overextended'); }\n      else if (wsPctChange >= 8) { score += 8; reasons.push('Pump ' + wsPctChange.toFixed(1) + '%'); }\n      if (frPct > 0.05) { score += 10; reasons.push('FR high (long lure)'); }\n      if (lsRatio > 2.0) { score += 8; reasons.push('L/S crowded long'); }\n      if (takerBias === 'SELL') { score += 10; reasons.push('Taker SELL'); }\n      if (_rsiDiv.bearish) { score += 15; reasons.push('RSI BEAR DIVERGENCE'); }\n      if (dailyTrend === 'BEARISH') { score += 8; reasons.push('Daily BEAR'); }\n      score += volPenalty;\n\n      if (score >= 70) {\n        signalType = 'REVERSAL';\n        signal = 'STRONG SELL'; strategy = 'SHORT (Reversal Confirmed)';\n        confidence = score >= 80 ? 'VERY HIGH' : score >= 70 ? 'HIGH' : 'MEDIUM';\n      }\n    }\n  }\n}\n\n// ═══ DUMP SCENARIO (price going DOWN) ═══\nif (wsPctChange <= -dynamicThreshold && signal === 'NEUTRAL') {\n\n  // === PRIORITY 1: MOMENTUM SHORT (follow the dump) ===\n  var momentumShortOk = _rsi >= 25 && _rsi <= 50 && volRatio >= 1.2 && isRed\n    && (bias4h === 'BEARISH' || dailyTrend === 'BEARISH' || dailyTrend === 'BELOW_EMA')\n    && _macd.h < 0;\n\n  if (momentumShortOk) {\n    score = 0;\n    if (_rsi >= 30 && _rsi <= 45) { score += 20; reasons.push('RSI ' + _rsi.toFixed(0) + ' bearish zone'); }\n    else { score += 10; reasons.push('RSI ' + _rsi.toFixed(0)); }\n    if (volRatio >= 3) { score += 20; reasons.push('Vol ' + volRatio.toFixed(1) + 'x panic'); }\n    else if (volRatio >= 2) { score += 15; reasons.push('Vol ' + volRatio.toFixed(1) + 'x heavy'); }\n    else { score += 8; reasons.push('Vol ' + volRatio.toFixed(1) + 'x'); }\n    if (bodyRatio > 0.6 && isRed) { score += 12; reasons.push('Red marubozu'); }\n    if (_macd.cd) { score += 15; reasons.push('MACD Bear Cross'); }\n    else if (_macd.h < _macd.ph) { score += 8; reasons.push('MACD falling'); }\n    if (bias4h === 'BEARISH') { score += 12; reasons.push('4H DOWNTREND'); }\n    if (dailyTrend === 'BEARISH') { score += 10; reasons.push('Daily BEAR'); }\n    if (takerBias === 'SELL') { score += 10; reasons.push('Taker SELL'); }\n    if (oiTrend === 'FALLING') { score += 8; reasons.push('OI falling (closing longs)'); }\n    if (frPct > 0.05) { score += 8; reasons.push('FR positive (longs paying)'); }\n    if (_rsiDiv.bearish) { score += 12; reasons.push('RSI BEAR DIV'); }\n    if (price < E21 && E21 < E50) { score += 8; reasons.push('Below EMA21<50'); }\n    score += volPenalty;\n\n    if (score >= 65) {\n      signalType = 'MOMENTUM';\n      signal = 'STRONG SELL'; strategy = 'SHORT (Momentum Follow)';\n      confidence = score >= 75 ? 'VERY HIGH' : score >= 65 ? 'HIGH' : 'MEDIUM';\n    }\n  }\n\n  // === PRIORITY 2: DIP CATCH BUY (counter-trend, STRICT) ===\n  if (signal === 'NEUTRAL') {\n    // HARD REQUIREMENTS for counter-trend BUY:\n    // 1. RSI must be < 22 (extreme oversold)\n    // 2. Last candle must be GREEN or have big lower wick (buyers stepping in)\n    // 3. MACD must be turning up\n    // 4. Not in freefall\n    var hasBottomWick = range > 0 && lowerWick/range > 0.35;\n    var dipCatchOk = _rsi < 22 && (isGreen || hasBottomWick)\n      && (_macd.cu || (_macd.h < 0 && _macd.h > _macd.ph))\n      && ffCount < 2;\n\n    if (dipCatchOk) {\n      score = 0;\n      if (_rsi < 15) { score += 25; reasons.push('RSI ' + _rsi.toFixed(0) + ' EXTREME OS'); }\n      else { score += 18; reasons.push('RSI ' + _rsi.toFixed(0) + ' oversold'); }\n      if (isGreen && bodyRatio > 0.4) { score += 15; reasons.push('Green reversal candle'); }\n      else if (hasBottomWick) { score += 12; reasons.push('Buyer wick'); }\n      if (_macd.cu) { score += 15; reasons.push('MACD Bull Cross'); }\n      else { score += 8; reasons.push('MACD turning up'); }\n      if (absPct >= 10) { score += 12; reasons.push(absPct.toFixed(1) + '% crash (extreme)'); }\n      else { score += 6; reasons.push(absPct.toFixed(1) + '% drop'); }\n      if (frPct < -0.05) { score += 10; reasons.push('FR negative (squeeze fuel)'); }\n      if (lsRatio > 2.0) { score += 8; reasons.push('Crowded long (squeeze)'); }\n      if (takerBias === 'BUY') { score += 12; reasons.push('Taker BUY'); }\n      if (_rsiDiv.bullish) { score += 18; reasons.push('RSI BULL DIVERGENCE'); }\n      // Check for double bottom\n      var sup=Math.min.apply(null,l.slice(Math.max(0,idx-168),idx));\n      var dSup=(price-sup)/price*100;\n      if (dSup < 0.5) { score += 12; reasons.push('Double Bottom'); }\n      score += volPenalty;\n\n      if (score >= 70) {\n        signalType = 'DIP_CATCH';\n        signal = 'STRONG BUY'; strategy = 'LONG (Dip Catch Confirmed)';\n        confidence = score >= 80 ? 'VERY HIGH' : score >= 70 ? 'HIGH' : 'MEDIUM';\n      }\n    }\n  }\n}\n\n// ═══ FINAL CONFIDENCE GATE ═══\nvar isHot = signal === 'STRONG BUY' || signal === 'STRONG SELL';\nif (isHot && confidence === 'LOW') {\n  return [{ json: { isHot: false, symbol, rejectReason: 'Confidence too LOW (score: ' + score + ')' } }];\n}\n\n// ═══ DEDUP ═══\nif (isHot && lastEntry && (nowTs - lastEntry.ts < 10800000)) {\n  if (score - lastEntry.score < 15) {\n    return [{ json: { isHot: false, symbol, rejectReason: 'DEDUP ' + lastEntry.score + ' -> ' + score } }];\n  }\n}\nif (isHot) { state.signalCache[dedupKey] = { ts: nowTs, score, signal }; }\n\n// ═══ DYNAMIC SL/TP ═══\nvar sl=0,tp1=0,tp2=0,tp3=0,riskPct='0';\nif (_atr > 0 && isHot) {\n  // Trend-following = wider TP, tighter SL (let winners run)\n  // Counter-trend = tighter TP, wider SL (take profit quickly)\n  var isTrendFollow = signalType === 'MOMENTUM' || signalType === 'BREAKOUT';\n  var slMult = isTrendFollow ? 1.5 : 2.0;\n  var tp1RR = isTrendFollow ? 1.5 : 1.0;\n  var tp2RR = isTrendFollow ? 3.0 : 1.5;\n  var tp3RR = isTrendFollow ? 5.0 : 2.5;\n\n  if (strategy.indexOf('LONG') !== -1) {\n    sl = price - (_atr * slMult);\n    var slDist = price - sl;\n    tp1 = price + slDist * tp1RR;\n    tp2 = price + slDist * tp2RR;\n    tp3 = price + slDist * tp3RR;\n    riskPct = ((slDist/price)*100).toFixed(2);\n  } else {\n    sl = price + (_atr * slMult);\n    var slDist = sl - price;\n    tp1 = price - slDist * tp1RR;\n    tp2 = price - slDist * tp2RR;\n    tp3 = price - slDist * tp3RR;\n    riskPct = ((slDist/price)*100).toFixed(2);\n  }\n}\n\nvar estTP1Pct = strategy.indexOf('LONG')!==-1 ? (tp1-price)/price*100 : (price-tp1)/price*100;\nvar estTP2Pct = strategy.indexOf('LONG')!==-1 ? (tp2-price)/price*100 : (price-tp2)/price*100;\nvar estTP3Pct = strategy.indexOf('LONG')!==-1 ? (tp3-price)/price*100 : (price-tp3)/price*100;\nvar estRiskPct=parseFloat(riskPct)||0;\n\n// ═══ HARD CAP MAXIMUM SL (10%) ═══\nif (estRiskPct > 10.0) {\n  var maxRisk = 10.0;\n  if (strategy.indexOf('LONG') !== -1) {\n    sl = price * (1 - (maxRisk / 100));\n  } else {\n    sl = price * (1 + (maxRisk / 100));\n  }\n  estRiskPct = maxRisk;\n  riskPct = maxRisk.toFixed(2);\n}\n\n// ═══ SIGNAL TYPE LABELS ═══\nvar signalTypeLabel = 'NONE';\nvar isTF = signalType === 'MOMENTUM' || signalType === 'BREAKOUT';\nif (signalType === 'MOMENTUM') signalTypeLabel = 'MOMENTUM FOLLOW';\nelse if (signalType === 'BREAKOUT') signalTypeLabel = 'BREAKOUT';\nelse if (signalType === 'REVERSAL') signalTypeLabel = 'REVERSAL (Counter-Trend)';\nelse if (signalType === 'DIP_CATCH') signalTypeLabel = 'DIP CATCH (Counter-Trend)';\n\n// ═══ PRO ENTRY GUIDANCE ═══\nvar entryValidity='SKIP',entryEmoji='',entryAction='',positionSize='',tradeManagement='',holdDuration='';\n\nif (isHot && isTF) {\n  // Trend-following: more aggressive sizing, longer holds\n  if (score >= 75) {\n    entryValidity='HIGHLY VALID'; entryEmoji='A+';\n    entryAction='ENTER NOW - Premium trend signal. Place order immediately.';\n    positionSize='2-3% of capital (High Conviction)';\n    holdDuration='2 Hours - 2 Days';\n  } else if (score >= 65) {\n    entryValidity='VALID'; entryEmoji='A';\n    entryAction='ENTER NOW - Strong trend. Place order promptly.';\n    positionSize='1-2% of capital (Standard)';\n    holdDuration='1 Hour - 1 Day';\n  } else {\n    entryValidity='MODERATE'; entryEmoji='B';\n    entryAction='CAUTIOUS ENTRY - Wait for 5min candle confirmation.';\n    positionSize='0.5-1% of capital (Conservative)';\n    holdDuration='30 Min - 4 Hours';\n  }\n  tradeManagement='TP1 hit: Move SL to Break-Even. TP2 hit: Close 50%, trail rest to TP3. Let winners run.';\n} else if (isHot) {\n  // Counter-trend: smaller sizing, quick exits\n  if (score >= 75) {\n    entryValidity='VALID (REVERSAL)'; entryEmoji='B+';\n    entryAction='ENTER - Reversal confirmed. Use tight SL.';\n    positionSize='1-1.5% of capital (Reversal Size)';\n    holdDuration='15 Min - 2 Hours';\n  } else {\n    entryValidity='MODERATE (REVERSAL)'; entryEmoji='B';\n    entryAction='CAUTIOUS - Counter-trend is risky. Small size only.';\n    positionSize='0.5-1% of capital (Small)';\n    holdDuration='15 Min - 1 Hour';\n  }\n  tradeManagement='TP1 hit: CLOSE 100% immediately. Do NOT hold counter-trend trades too long.';\n}\n\nreturn [{json:{\n  symbol, price:price.toFixed(4),\n  wsChange:wsPctChange.toFixed(2)+'%', wsDirection,\n  signalType:signalTypeLabel, signal, strategy, confidence, score,\n  reasons:reasons.join(' | '),\n  dailyTrend, weeklyBias, trend4h,\n  trend1h:price>E21&&E21>E50?'UPTREND':price<E21&&E21<E50?'DOWNTREND':'SIDEWAYS',\n  rsi1h:_rsi.toFixed(1), rsi4h:rsi4h.toFixed(1),\n  marketStructure: _rsi>50&&price>E21?'BULLISH':_rsi<50&&price<E21?'BEARISH':'MIXED',\n  rsiDivergence:_rsiDiv.bullish?'BULL DIV':(_rsiDiv.bearish?'BEAR DIV':'None'),\n  macdCross:_macd.cu?'BULL CROSS':(_macd.cd?'BEAR CROSS':'None'),\n  macdHist:_macd.h.toFixed(6),\n  volRatio:volRatio.toFixed(1)+'x',\n  fundingRate:fundingLabel, openInterest:oiLabel, oiTrend:oiTrend,\n  longShortRatio:lsLabel, takerVolume:takerLabel,\n  ema21:E21.toFixed(4), ema200:E200.toFixed(4),\n  macroTrend:price>E200?'ABOVE MA200':'BELOW MA200',\n  resistance:res1h.toFixed(4), support:sup1h.toFixed(4),\n  distResistance:((res1h-price)/price*100).toFixed(2)+'%',\n  distSupport:((price-sup1h)/price*100).toFixed(2)+'%',\n  sl:sl.toFixed(4), tp1:tp1.toFixed(4), tp2:tp2.toFixed(4), tp3:tp3.toFixed(4),\n  riskPct:riskPct+'%', atr:_atr.toFixed(6), atrPct:atrPct.toFixed(2)+'%',\n  estTP1:'+'+estTP1Pct.toFixed(2)+'%', estTP2:'+'+estTP2Pct.toFixed(2)+'%', estTP3:'+'+estTP3Pct.toFixed(2)+'%',\n  estRisk:'-'+estRiskPct.toFixed(2)+'%',\n  estRR1:'1:'+(estTP1Pct/(estRiskPct||1)).toFixed(1),\n  estRR2:'1:'+(estTP2Pct/(estRiskPct||1)).toFixed(1),\n  estRR3:'1:'+(estTP3Pct/(estRiskPct||1)).toFixed(1),\n  volumeTier:volTier, volumeWarning:volWarning,\n  isHot:isHot,\n  rejectReason:!isHot?'Score '+score+'/100. '+reasons.join(', '):'',\n  entryValidity, entryEmoji, entryAction, positionSize, tradeManagement, holdDuration,\n  version:'v17.0',\n}}];"
      }
    },
    {
      "id": "n10",
      "name": "Is Hot?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -450,
        800
      ],
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.isHot }}",
              "value2": true
            }
          ]
        }
      }
    },
    {
      "id": "n11",
      "name": "Telegram Alert",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -200,
        620
      ],
      "credentials": {
        "telegramApi": {
          "id": "aNtvHk0oDffDwsLX",
          "name": "Telegram account"
        }
      },
      "parameters": {
        "chatId": "@cryptospikehunter",
        "text": "={{ $json.signal === 'STRONG BUY' ? '🟢' : '🔴' }} *{{ $json.symbol }} — {{ $json.signal }}*\n{{ $json.signalType }}\n\n{{ $json.entryEmoji }} *VALIDITY: {{ $json.entryValidity }}*\n📋 *{{ $json.entryAction }}*\n\n🎯 *Entry:* `{{ $json.price }}`\n📊 *Trigger:* {{ $json.wsDirection }} {{ $json.wsChange }}\n🧠 *Strategy:* {{ $json.strategy }}\n\n*💎 Profit Targets:*\n├ 🥇 *TP1:* `{{ $json.tp1 }}` ({{ $json.estTP1 }}) — RR {{ $json.estRR1 }}\n├ 🥈 *TP2:* `{{ $json.tp2 }}` ({{ $json.estTP2 }}) — RR {{ $json.estRR2 }}\n├ 🥉 *TP3:* `{{ $json.tp3 }}` ({{ $json.estTP3 }}) — RR {{ $json.estRR3 }}\n├ 🛡️ *SL:* `{{ $json.sl }}` ({{ $json.estRisk }})\n└ 📐 ATR: {{ $json.atr }} ({{ $json.atrPct }})\n\n*📌 Pro Trader Guide:*\n├ 💰 *Position Size:* {{ $json.positionSize }}\n├ ⏱ *Hold Duration:* {{ $json.holdDuration }}\n└ 📖 *Management:* {{ $json.tradeManagement }}\n\n*📡 Market Intelligence:*\n├ 📅 Daily: {{ $json.dailyTrend }} | Weekly: {{ $json.weeklyBias }}\n├ 4H: {{ $json.trend4h }} | 1H: {{ $json.trend1h }}\n├ Structure: {{ $json.marketStructure }}\n├ RSI: {{ $json.rsi1h }} | MACD: {{ $json.macdCross }}\n├ Vol: {{ $json.volRatio }}\n└ {{ $json.macroTrend }}\n\n*⚡ Futures Intelligence:*\n├ Funding: {{ $json.fundingRate }}\n├ Open Interest: {{ $json.openInterest }}\n├ L/S Ratio: {{ $json.longShortRatio }}\n└ Taker: {{ $json.takerVolume }}\n\n*Support & Resistance:*\n├ 🔺 Res: `{{ $json.resistance }}` ({{ $json.distResistance }})\n└ 🔻 Sup: `{{ $json.support }}` ({{ $json.distSupport }})\n\n💡 _{{ $json.reasons }}_\n\n🤖 _v16.0 Dual-Layer Engine | {{ $json.signalType }}_\n🔗 [Binance](https://www.binance.com/en/futures/{{ $json.symbol }}) | [TV](https://www.tradingview.com/chart/?symbol=BINANCE:{{ $json.symbol }}.P)\n{{ $json.volumeWarning ? \"\\n⚠️ \" + $json.volumeWarning : \"\" }}\n⏰ {{ $now.setZone('Asia/Jakarta').format('dd MMM HH:mm') }} WIB",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      }
    },
    {
      "id": "n12",
      "name": "Ntfy Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -200,
        950
      ],
      "parameters": {
        "method": "POST",
        "url": "https://ntfy.sh/cryptospike-bot-tetot",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Title",
              "value": "={{ $json.signal === 'STRONG BUY' ? 'BUY' : 'SELL' }} {{ $json.symbol }} {{ $json.signal }} Score {{ $json.score }}"
            },
            {
              "name": "Tags",
              "value": "={{ $json.signal === 'STRONG BUY' ? 'green_circle,chart_with_upwards_trend' : 'red_circle,chart_with_downwards_trend' }}"
            },
            {
              "name": "Priority",
              "value": "={{ $json.confidence === 'VERY HIGH' ? '5' : '4' }}"
            },
            {
              "name": "Actions",
              "value": "=view, Binance, https://www.binance.com/en/futures/{{ $json.symbol }}; view, TradingView, https://www.tradingview.com/chart/?symbol=BINANCE:{{ $json.symbol }}.P"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "string",
        "body": "={{ $json.signal === \"STRONG BUY\" ? \"BUY\" : \"SELL\" }} {{ $json.symbol }} - {{ $json.signal }}\n{{ $json.signalType }}\nValidity: {{ $json.entryValidity }}\n{{ $json.entryAction }}\n\nConfidence: {{ $json.confidence }} (Score: {{ $json.score }}/100)\n\nEntry: {{ $json.price }} | {{ $json.wsDirection }} {{ $json.wsChange }}\nStrategy: {{ $json.strategy }}\n\nTP1: {{ $json.tp1 }} ({{ $json.estTP1 }}) RR {{ $json.estRR1 }}\nTP2: {{ $json.tp2 }} ({{ $json.estTP2 }}) RR {{ $json.estRR2 }}\nTP3: {{ $json.tp3 }} ({{ $json.estTP3 }}) RR {{ $json.estRR3 }}\nSL: {{ $json.sl }} ({{ $json.estRisk }})\n\nPosition: {{ $json.positionSize }}\nHold: {{ $json.holdDuration }}\nMgmt: {{ $json.tradeManagement }}\n\nMarket:\n- Daily: {{ $json.dailyTrend }} | Weekly: {{ $json.weeklyBias }}\n- 4H: {{ $json.trend4h }} | 1H: {{ $json.trend1h }}\n- RSI: {{ $json.rsi1h }} | Vol: {{ $json.volRatio }}\n\nFutures:\n- Funding: {{ $json.fundingRate }}\n- OI: {{ $json.openInterest }}\n- L/S: {{ $json.longShortRatio }}\n- Taker: {{ $json.takerVolume }}\n\nReasons: {{ $json.reasons }}\nv16.0 Dual-Layer Engine",
        "options": {}
      }
    },
    {
      "id": "n13",
      "name": "Log Skip",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -200,
        1200
      ],
      "disabled": true,
      "credentials": {
        "telegramApi": {
          "id": "aNtvHk0oDffDwsLX",
          "name": "Telegram account"
        }
      },
      "parameters": {
        "chatId": "@cryptospikehunter",
        "text": "=📋 *{{ $json.symbol }}* — SKIP\n_{{ $json.rejectReason }}_",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      }
    },
    {
      "id": "supa_insert_1",
      "name": "Save to Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        800,
        400
      ],
      "parameters": {
        "method": "POST",
        "url": "https://hgcsdpqceuhmpeksdhpj.supabase.co/rest/v1/signals",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhnY3NkcHFjZXVobXBla3NkaHBqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM4MzU0NTMsImV4cCI6MjA4OTQxMTQ1M30.Llo6V1m4qdzXq3b3cB54cp7iEVrhpQ9nipBFbpcaWFQ"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhnY3NkcHFjZXVobXBla3NkaHBqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM4MzU0NTMsImV4cCI6MjA4OTQxMTQ1M30.Llo6V1m4qdzXq3b3cB54cp7iEVrhpQ9nipBFbpcaWFQ"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "keypair",
        "options": {},
        "bodyParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "={{ $('Pro Analisa TA v17.0').item.json.symbol + '_' + Date.now() }}"
            },
            {
              "name": "symbol",
              "value": "={{ $('Pro Analisa TA v17.0').item.json.symbol }}"
            },
            {
              "name": "signal",
              "value": "={{ $('Pro Analisa TA v17.0').item.json.signal }}"
            },
            {
              "name": "signal_type",
              "value": "={{ $('Pro Analisa TA v17.0').item.json.signalType }}"
            },
            {
              "name": "entry_price",
              "value": "={{ $('Pro Analisa TA v17.0').item.json.price }}"
            },
            {
              "name": "tp1",
              "value": "={{ $('Pro Analisa TA v17.0').item.json.tp1 }}"
            },
            {
              "name": "tp2",
              "value": "={{ $('Pro Analisa TA v17.0').item.json.tp2 }}"
            },
            {
              "name": "tp3",
              "value": "={{ $('Pro Analisa TA v17.0').item.json.tp3 }}"
            },
            {
              "name": "sl",
              "value": "={{ $('Pro Analisa TA v17.0').item.json.sl }}"
            },
            {
              "name": "score",
              "value": "={{ $('Pro Analisa TA v17.0').item.json.score }}"
            },
            {
              "name": "confidence",
              "value": "={{ $('Pro Analisa TA v17.0').item.json.confidence }}"
            },
            {
              "name": "strategy",
              "value": "={{ $('Pro Analisa TA v17.0').item.json.strategy }}"
            },
            {
              "name": "reasons",
              "value": "={{ $('Pro Analisa TA v17.0').item.json.reasons }}"
            },
            {
              "name": "status",
              "value": "ACTIVE"
            }
          ]
        }
      }
    },
    {
      "id": "supa_insert_1",
      "name": "Save to Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        800,
        400
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL + '/rest/v1/signals' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"id\": \"{{ $json.symbol }}_{{ Date.now() }}\",\n  \"symbol\": \"{{ $json.symbol }}\",\n  \"signal\": \"{{ $json.signal }}\",\n  \"signal_type\": \"{{ $json.signalType }}\",\n  \"entry_price\": {{ $json.price }},\n  \"tp1\": {{ $json.tp1 }},\n  \"tp2\": {{ $json.tp2 }},\n  \"tp3\": {{ $json.tp3 }},\n  \"sl\": {{ $json.sl }},\n  \"score\": {{ $json.score }},\n  \"confidence\": \"{{ $json.confidence }}\",\n  \"strategy\": \"{{ $json.strategy }}\",\n  \"reasons\": \"{{ $json.reasons }}\",\n  \"status\": \"ACTIVE\"\n}",
        "options": {}
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Get Klines 1h",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Klines 1h": {
      "main": [
        [
          {
            "node": "Get Klines 4h",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Klines 4h": {
      "main": [
        [
          {
            "node": "Get Klines 1D",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Klines 1D": {
      "main": [
        [
          {
            "node": "Get Funding Rate",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get OI History",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Long Short Ratio",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Taker Volume",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Open Interest": {
      "main": [
        [
          {
            "node": "Pro Analisa TA v17.0",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Hot?": {
      "main": [
        [
          {
            "node": "Telegram Alert",
            "type": "main",
            "index": 0
          },
          {
            "node": "Ntfy Alert",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Skip",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Funding Rate": {
      "main": [
        [
          {
            "node": "Pro Analisa TA v17.0",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get OI History": {
      "main": [
        [
          {
            "node": "Pro Analisa TA v17.0",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Long Short Ratio": {
      "main": [
        [
          {
            "node": "Pro Analisa TA v17.0",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Taker Volume": {
      "main": [
        [
          {
            "node": "Pro Analisa TA v17.0",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pro Analisa TA v17.0": {
      "main": [
        [
          {
            "node": "Is Hot?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Alert": {
      "main": [
        [
          {
            "node": "Save to Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "tags": []
}