n8n-workflow-hybrid.json
{
  "name": "Spike Hunter Pro v12 — Config A (PF 2.02)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "crypto-signal",
        "responseMode": "onReceived",
        "responseData": "allEntries",
        "options": {}
      },
      "id": "b1000001-0001-4000-b000-000000000001",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        -1600,
        800
      ],
      "webhookId": "crypto-signal"
    },
    {
      "parameters": {
        "url": "https://fapi.binance.com/fapi/v1/klines",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "symbol",
              "value": "={{ $json.body.symbol }}"
            },
            {
              "name": "interval",
              "value": "1h"
            },
            {
              "name": "limit",
              "value": "300"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "id": "b1000001-0003-4000-b000-000000000003",
      "name": "Get Klines 1h",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -1300,
        800
      ]
    },
    {
      "parameters": {
        "url": "https://fapi.binance.com/fapi/v1/klines",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "symbol",
              "value": "={{ $('Webhook Trigger').first().json.body.symbol }}"
            },
            {
              "name": "interval",
              "value": "4h"
            },
            {
              "name": "limit",
              "value": "100"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "id": "b1000001-0004-4000-b000-000000000004",
      "name": "Get Klines 4h",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -1050,
        800
      ]
    },
    {
      "parameters": {
        "jsCode": "// ═══════════════════════════════════════════════════════════════\n// SPIKE HUNTER PRO v13 — IMPROVED BREAKOUT DETECTION\n// Layer 1: Freshness | Layer 2: Dedup | Layer 3: 4H Trend | Layer 4: Enhanced Breakout\n// ═══════════════════════════════════════════════════════════════\n\nconst webhookData = $('Webhook Trigger').first().json.body;\nconst symbol = webhookData.symbol;\nconst wsPctChange = parseFloat(webhookData.priceChangePercent);\nconst wsDirection = webhookData.direction;\nconst dynamicThreshold = webhookData.threshold ? parseFloat(webhookData.threshold) : 3.0;\nconst nowTs = Date.now();\n\n// LAYER 1: FRESHNESS CHECK\nconst FRESHNESS_LIMIT_MS = 3 * 60 * 1000;\nif (webhookData.triggeredAt) {\n  const triggeredTs = new Date(webhookData.triggeredAt).getTime();\n  const ageSec = Math.round((nowTs - triggeredTs) / 1000);\n  if (nowTs - triggeredTs > FRESHNESS_LIMIT_MS) {\n    return [{ json: { isHot: false, symbol, rejectReason: '\\u23f0 STALE: Signal sudah ' + ageSec + 's (maks 180s). Dilewati.' } }];\n  }\n}\n\n// LAYER 2: Dedup state\nconst DEDUP_WINDOW_MS = 2 * 60 * 60 * 1000;\nconst SCORE_UPGRADE_THRESHOLD = 10;\nconst state = $getWorkflowStaticData('global');\nif (!state.signalCache) state.signalCache = {};\nfor (const key of Object.keys(state.signalCache)) {\n  if (nowTs - state.signalCache[key].ts > 4 * 60 * 60 * 1000) delete state.signalCache[key];\n}\nconst dedupKey = symbol + '_' + wsDirection;\nconst lastEntry = state.signalCache[dedupKey];\n\n// KLINES PARSING\nfunction parseKlines(nodeName) {\n  let raw = $(nodeName).first().json;\n  let data = Array.isArray(raw) ? raw : (typeof raw.data === 'string' ? JSON.parse(raw.data) : raw.data);\n  if (!Array.isArray(data) || data.length < 20) return null;\n  return {\n    open:   data.map(function(k) { return parseFloat(k[1]); }),\n    high:   data.map(function(k) { return parseFloat(k[2]); }),\n    low:    data.map(function(k) { return parseFloat(k[3]); }),\n    close:  data.map(function(k) { return parseFloat(k[4]); }),\n    volume: data.map(function(k) { return parseFloat(k[5]); }),\n  };\n}\n\nconst tf1h = parseKlines('Get Klines 1h');\nconst tf4h = parseKlines('Get Klines 4h');\nif (!tf1h) return [{ json: { isHot: false, symbol, rejectReason: 'Data klines 1H tidak cukup' } }];\n\n// INDICATOR FUNCTIONS\nfunction calcEMA(p, n) {\n  const k = 2/(n+1); let e = p.slice(0,n).reduce(function(a,b){return a+b;})/n;\n  const r = new Array(n-1).fill(null); r.push(e);\n  for (let i=n; i<p.length; i++) { e=(p[i]-e)*k+e; r.push(e); }\n  return r;\n}\nfunction calcRSI(p, n) {\n  n = n || 14;\n  if (p.length < n+1) return 50;\n  let g=0,lo=0;\n  for (let i=1; i<=n; i++) { let d=p[i]-p[i-1]; d>=0?g+=d:lo-=d; }\n  let ag=g/n, al=lo/n;\n  for (let i=n+1; i<p.length; i++) {\n    let d=p[i]-p[i-1]; ag=((ag*(n-1))+(d>=0?d:0))/n; al=((al*(n-1))+(d<0?-d:0))/n;\n  }\n  return al===0 ? 100 : 100-(100/(1+(ag/al)));\n}\nfunction calcMACD(p) {\n  const f=calcEMA(p,12), s=calcEMA(p,26), ml=[];\n  for (let i=0; i<p.length; i++) if(f[i]!==null&&s[i]!==null) ml.push(f[i]-s[i]);\n  if (ml.length<9) return {h:0,ph:0,cu:false,cd:false,hist:0};\n  const sl=calcEMA(ml,9);\n  const lm=ml[ml.length-1],ls=sl[sl.length-1]||0,pm=ml[ml.length-2]||lm,ps=sl[sl.length-2]||ls;\n  return {h:lm-ls, ph:pm-ps, cu:pm<=ps&&lm>ls, cd:pm>=ps&&lm<ls, hist:lm-ls};\n}\nfunction calcATR(h,l,c,n) {\n  n=n||14; if(h.length<n+1) return 0;\n  let t=[h[0]-l[0]];\n  for(let i=1;i<h.length;i++) t.push(Math.max(h[i]-l[i],Math.abs(h[i]-c[i-1]),Math.abs(l[i]-c[i-1])));\n  let a=t.slice(0,n).reduce(function(x,y){return x+y;})/n;\n  for(let i=n;i<t.length;i++) a=(a*(n-1)+t[i])/n;\n  return a;\n}\nfunction calcADX(h,l,c,n) {\n  n=n||14; if(h.length<n*3) return 0;\n  let t=[],pd=[],md=[];\n  for(let i=1;i<h.length;i++) {\n    t.push(Math.max(h[i]-l[i],Math.abs(h[i]-c[i-1]),Math.abs(l[i]-c[i-1])));\n    let u=h[i]-h[i-1],d=l[i-1]-l[i];\n    pd.push(u>d&&u>0?u:0); md.push(d>u&&d>0?d:0);\n  }\n  let aT=t.slice(0,n).reduce(function(a,b){return a+b;}),aP=pd.slice(0,n).reduce(function(a,b){return a+b;}),aM=md.slice(0,n).reduce(function(a,b){return a+b;});\n  const dx=[];\n  for(let i=n;i<t.length;i++) {\n    aT=aT-aT/n+t[i]; aP=aP-aP/n+pd[i]; aM=aM-aM/n+md[i];\n    let pI=(aP/aT)*100,mI=(aM/aT)*100;\n    dx.push((pI+mI)===0?0:Math.abs(pI-mI)/(pI+mI)*100);\n  }\n  if(dx.length<n) return 0;\n  let a=dx.slice(0,n).reduce(function(x,y){return x+y;})/n;\n  for(let i=n;i<dx.length;i++) a=((a*(n-1))+dx[i])/n;\n  return a;\n}\n\n// 4H TREND ANALYSIS\nlet trend4h = 'SIDEWAYS';\nlet rsi4h = 50;\nlet trend4hBias = 'NEUTRAL';\nlet res4h = 0;\nif (tf4h) {\n  const c4 = tf4h.close, h4 = tf4h.high;\n  const e21_4h = calcEMA(c4, 21);\n  const e50_4h = calcEMA(c4, 50);\n  const price4h = c4[c4.length - 1];\n  const E21_4h = e21_4h[e21_4h.length-1] || price4h;\n  const E50_4h = e50_4h[e50_4h.length-1] || price4h;\n  rsi4h = calcRSI(c4);\n  res4h = Math.max.apply(null, h4.slice(-20));\n  if (price4h > E21_4h && E21_4h > E50_4h) { trend4h = 'UPTREND'; trend4hBias = 'BULLISH'; }\n  else if (price4h < E21_4h && E21_4h < E50_4h) { trend4h = 'DOWNTREND'; trend4hBias = 'BEARISH'; }\n}\n\n// 1H INDICATORS\nconst c = tf1h.close, h = tf1h.high, l = tf1h.low, o = tf1h.open, v = tf1h.volume;\nconst price = c[c.length - 1];\nconst idx = c.length - 1;\nconst _rsi = calcRSI(c);\nconst _prevRsi = calcRSI(c.slice(0, -1));\nconst _macd = calcMACD(c);\nconst _atr = calcATR(h, l, c);\nconst _adx = calcADX(h, l, c);\nconst e21 = calcEMA(c, 21), e50 = calcEMA(c, 50);\nconst E21 = e21[e21.length-1]||price, E50 = e50[e50.length-1]||price;\nconst avgVol = v.slice(-20).reduce(function(a,b){return a+b;})/20;\nconst volRatio = v[v.length-1]/avgVol;\nconst res1h = Math.max.apply(null, h.slice(-50));\nconst recentL = Math.min.apply(null, l.slice(-50));\n// Multi-TF effective resistance\nconst effectiveRes = (res4h > 0 && Math.abs(res4h - res1h) / price < 0.05)\n  ? Math.max(res4h, res1h) : (res4h > 0 ? Math.min(res4h, res1h) : res1h);\nlet trend = 'SIDEWAYS';\nif(price>E21&&E21>E50) trend = 'UPTREND';\nelse if(price<E21&&E21<E50) trend = 'DOWNTREND';\nconst body = Math.abs(c[idx] - o[idx]);\nconst range = h[idx] - l[idx];\nconst upperWick = h[idx] - Math.max(c[idx], o[idx]);\n\nlet score = 0, signal = 'NEUTRAL', strategy = 'WAIT', confidence = 'LOW';\nconst reasons = [];\n\n// STRATEGY 1: BUY THE DIP (LONG)\nif (wsPctChange <= -dynamicThreshold) {\n  if (_rsi >= 40) { reasons.push('RSI ' + _rsi.toFixed(0) + ' tidak oversold'); }\n  else {\n    let ff = 0;\n    for (let k = idx-5; k <= idx; k++) {\n      if (k > 24) { const ll = Math.min.apply(null, l.slice(k-24, k)); if (l[k] < ll) ff++; }\n    }\n    if (ff >= 3) { reasons.push('FREEFALL - skip'); }\n    else if (E21 <= price * 1.003) { reasons.push('EMA21 tidak di atas harga'); }\n    else if (c[idx] <= o[idx]) { reasons.push('Candle merah'); }\n    else if (_rsi <= _prevRsi) { reasons.push('RSI masih turun'); }\n    else {\n      if (_rsi < 22) { score += 20; reasons.push('RSI ' + _rsi.toFixed(0) + ' extreme'); }\n      else if (_rsi < 28) { score += 15; reasons.push('RSI ' + _rsi.toFixed(0) + ' oversold'); }\n      else if (_rsi < 33) { score += 10; reasons.push('RSI ' + _rsi.toFixed(0)); }\n      else { score += 5; }\n      const absPct = Math.abs(wsPctChange);\n      if (absPct >= Math.max(8, dynamicThreshold*2)) { score += 12; reasons.push(absPct.toFixed(0) + '% crash'); }\n      else if (absPct >= Math.max(5, dynamicThreshold*1.5)) { score += 9; reasons.push(absPct.toFixed(0) + '% drop'); }\n      else { score += 6; }\n      if (range > 0 && body/range > 0.4) { score += 15; reasons.push('Bullish candle'); } else { score += 8; reasons.push('Green candle'); }\n      if (_macd.cu) { score += 10; reasons.push('MACD Cross Up'); }\n      else if (_macd.h < 0 && _macd.h > _macd.ph) { score += 6; reasons.push('MACD turning'); }\n      if (volRatio > 3.0) { score += 8; reasons.push('Vol ' + volRatio.toFixed(1) + 'x'); }\n      else if (volRatio > 2.0) { score += 5; reasons.push('Vol ' + volRatio.toFixed(1) + 'x'); }\n      const sup3d = Math.min.apply(null, l.slice(Math.max(0, idx-72), idx));\n      const dSup = (price - sup3d) / price * 100;\n      if (dSup < 0.5) { score += 10; reasons.push('Double bottom'); }\n      else if (dSup < 1.5) { score += 6; reasons.push('Near support'); }\n      else if (dSup < 3) { score += 3; }\n      if (range > 0 && (Math.min(c[idx],o[idx])-l[idx])/range > 0.5) { score += 5; reasons.push('Wick up'); }\n      if (_adx < 20) { score += 5; reasons.push('ADX weak'); } else if (_adx > 35) { score -= 3; }\n      if (trend4hBias === 'BULLISH') { score += 8; reasons.push('4H UPTREND \\u2705'); }\n      else if (trend4hBias === 'BEARISH') { score -= 10; reasons.push('4H DOWNTREND \\u26a0\\ufe0f'); }\n      if (score >= 55) { signal = 'STRONG BUY'; strategy = 'LONG (Buy Dip)'; confidence = 'VERY HIGH'; }\n      else if (score >= 45) { signal = 'BUY'; strategy = 'LONG (Buy Dip)'; confidence = 'HIGH'; }\n      else if (score >= 40) { signal = 'POSSIBLE LONG'; strategy = 'LONG (Buy Dip)'; confidence = 'MEDIUM'; }\n    }\n  }\n}\n// STRATEGY 2 & 3: PUMP SCENARIOS\nelse if (wsPctChange >= dynamicThreshold) {\n  let shortScore = 0, breakoutScore = 0;\n  const shortReasons = [], breakoutReasons = [];\n\n  // SHORT: Overbought Mean Reversion\n  if (_rsi >= 75) { shortScore += 20; shortReasons.push('RSI Extreme OB (' + _rsi.toFixed(0) + ')'); }\n  else if (_rsi >= 70) { shortScore += 15; shortReasons.push('RSI Overbought (' + _rsi.toFixed(0) + ')'); }\n  else if (_rsi >= 65) { shortScore += 5; shortReasons.push('RSI High (' + _rsi.toFixed(0) + ')'); }\n  if (wsPctChange >= Math.max(10, dynamicThreshold*2)) { shortScore += 15; shortReasons.push('Massive Pump (' + wsPctChange.toFixed(0) + '%)'); }\n  else if (wsPctChange >= Math.max(7, dynamicThreshold*1.5)) { shortScore += 10; shortReasons.push('Big Pump (' + wsPctChange.toFixed(0) + '%)'); }\n  if (c[idx] < o[idx]) { shortScore += 15; shortReasons.push('Red Reversal Candle'); }\n  if (range > 0 && upperWick/range > 0.4) { shortScore += 10; shortReasons.push('Long Upper Wick'); }\n  if (_macd.cd) { shortScore += 10; shortReasons.push('MACD Bearish Cross'); }\n  else if (_macd.h > 0 && _macd.h < _macd.ph) { shortScore += 5; shortReasons.push('MACD Bull Fading'); }\n  const dResShort = (effectiveRes - price) / price * 100;\n  if (dResShort > -0.5 && dResShort < 1.0) { shortScore += 10; shortReasons.push('Near MTF Resistance'); }\n  if (trend4hBias === 'BEARISH') { shortScore += 8; shortReasons.push('4H DOWNTREND \\u2705'); }\n  else if (trend4hBias === 'BULLISH') { shortScore -= 10; shortReasons.push('4H UPTREND \\u26a0\\ufe0f'); }\n\n  // BREAKOUT LONG (Enhanced v13)\n  // 1. RSI momentum zone\n  if (_rsi >= 55 && _rsi < 70) { breakoutScore += 15; breakoutReasons.push('RSI Momentum (' + _rsi.toFixed(0) + ')'); }\n\n  // 2. Volume vs last 5 bars (breakout volume confirmation)\n  const vol5avg = v.slice(idx-5, idx).reduce(function(a,b){return a+b;}, 0) / 5;\n  const volBreakRatio = v[idx] / vol5avg;\n  if (volBreakRatio > 3.0) { breakoutScore += 20; breakoutReasons.push('\\ud83d\\udd25 Vol Breakout ' + volBreakRatio.toFixed(1) + 'x (5bar avg)'); }\n  else if (volBreakRatio > 2.0) { breakoutScore += 14; breakoutReasons.push('Vol Breakout ' + volBreakRatio.toFixed(1) + 'x'); }\n  else if (volBreakRatio > 1.5) { breakoutScore += 8; breakoutReasons.push('Vol Rising ' + volBreakRatio.toFixed(1) + 'x'); }\n  else { breakoutReasons.push('Vol lemah ' + volBreakRatio.toFixed(1) + 'x — potensi fakeout'); }\n\n  // 3. Candle body quality (Marubozu = bersih, no wick = confidence)\n  if (c[idx] > o[idx] && range > 0) {\n    const bodyRatio = body / range;\n    if (bodyRatio > 0.75) { breakoutScore += 15; breakoutReasons.push('Strong Marubozu (' + (bodyRatio*100).toFixed(0) + '% body)'); }\n    else if (bodyRatio > 0.55) { breakoutScore += 8; breakoutReasons.push('Bullish candle (' + (bodyRatio*100).toFixed(0) + '% body)'); }\n    else if (bodyRatio < 0.3) { breakoutScore -= 8; breakoutReasons.push('\\u26a0\\ufe0f Candle kecil — fakeout risk'); }\n  }\n\n  // 4. FAKEOUT FILTER: upper wick panjang = rejection di resistance\n  if (range > 0) {\n    const wickRatio = upperWick / range;\n    if (wickRatio > 0.5) { breakoutScore -= 15; breakoutReasons.push('\\ud83d\\udea8 Fakeout Warning: Upper wick ' + (wickRatio*100).toFixed(0) + '% — kemungkinan rejection'); }\n    else if (wickRatio > 0.35) { breakoutScore -= 8; breakoutReasons.push('\\u26a0\\ufe0f Upper wick besar ' + (wickRatio*100).toFixed(0) + '%'); }\n    else if (wickRatio < 0.15) { breakoutScore += 5; breakoutReasons.push('Clean breakout candle (wick minimal)'); }\n  }\n\n  // 5. Multi-TF resistance breakout\n  const dRes1h = (price - res1h) / price * 100;\n  const dRes4h = res4h > 0 ? (price - res4h) / price * 100 : null;\n  if (dRes1h > 0 && dRes1h < 2.0) { breakoutScore += 12; breakoutReasons.push('Breakout Res 1H (+' + dRes1h.toFixed(2) + '%)'); }\n  if (dRes4h !== null && dRes4h > 0 && dRes4h < 3.0) { breakoutScore += 18; breakoutReasons.push('\\ud83d\\udd11 Breakout Res 4H (+' + dRes4h.toFixed(2) + '%) KEY LEVEL'); }\n  else if (dRes4h !== null && dRes4h > -1.0 && dRes4h <= 0) { breakoutScore += 8; breakoutReasons.push('Approaching 4H Res (' + Math.abs(dRes4h).toFixed(2) + '% away)'); }\n\n  // 6. MACD momentum\n  if (_macd.cu) { breakoutScore += 10; breakoutReasons.push('MACD Bull Cross'); }\n  else if (_macd.h > 0 && _macd.h > _macd.ph) { breakoutScore += 7; breakoutReasons.push('MACD Bull Momentum Increasing'); }\n\n  // 7. ADX — breakout butuh tenaga\n  if (_adx > 25) { breakoutScore += 8; breakoutReasons.push('ADX Strong (' + _adx.toFixed(0) + ')'); }\n  else if (_adx < 15) { breakoutScore -= 5; breakoutReasons.push('ADX Lemah (' + _adx.toFixed(0) + ')'); }\n\n  // 8. 4H Bias\n  if (trend4hBias === 'BULLISH') { breakoutScore += 10; breakoutReasons.push('4H UPTREND \\u2705 aligned'); }\n  else if (trend4hBias === 'BEARISH') { breakoutScore -= 12; breakoutReasons.push('4H DOWNTREND \\u26a0\\ufe0f counter-trend'); }\n\n  // DECIDE WINNER\n  if (shortScore >= 55 && shortScore > breakoutScore) {\n    score = shortScore; signal = 'STRONG SELL'; strategy = 'SHORT (Overbought)'; confidence = 'VERY HIGH';\n    reasons.push.apply(reasons, shortReasons);\n  } else if (shortScore >= 45 && shortScore > breakoutScore) {\n    score = shortScore; signal = 'SELL'; strategy = 'SHORT (Overbought)'; confidence = 'HIGH';\n    reasons.push.apply(reasons, shortReasons);\n  } else if (breakoutScore >= 55) {\n    score = breakoutScore; signal = 'STRONG BUY'; strategy = 'LONG (Breakout)'; confidence = 'VERY HIGH';\n    reasons.push.apply(reasons, breakoutReasons);\n  } else if (breakoutScore >= 45) {\n    score = breakoutScore; signal = 'BUY'; strategy = 'LONG (Breakout)'; confidence = 'HIGH';\n    reasons.push.apply(reasons, breakoutReasons);\n  } else {\n    reasons.push('Pump ' + wsPctChange.toFixed(1) + '% — ShortScore: ' + shortScore + ', BreakoutScore: ' + breakoutScore + ' (min 45)');\n  }\n  var volBreakRatioVal = volBreakRatio;\n} else {\n  reasons.push('Change ' + wsPctChange.toFixed(1) + '% masih di bawah threshold ' + dynamicThreshold + '%');\n  var volBreakRatioVal = null;\n}\n\nlet sl = 0, tp1 = 0, tp2 = 0, tp3 = 0, riskPct = '0';\nif (_atr > 0) {\n  if (strategy.indexOf('LONG') !== -1) {\n    sl = price - (_atr * 2.0);\n    const slDist = price - sl;\n    const meanDist = Math.max(E21 - price, 0);\n    tp1 = price + Math.max(meanDist * 0.4, slDist * 1.5);\n    tp2 = price + Math.max(meanDist * 0.7, slDist * 2.0);\n    tp3 = price + Math.max(meanDist * 1.0, slDist * 3.0);\n    riskPct = ((slDist / price) * 100).toFixed(2);\n  } else if (strategy.indexOf('SHORT') !== -1) {\n    sl = price + (_atr * 2.0);\n    const slDist = sl - price;\n    const meanDist = Math.max(price - E21, 0);\n    tp1 = price - Math.max(meanDist * 0.4, slDist * 1.5);\n    tp2 = price - Math.max(meanDist * 0.7, slDist * 2.0);\n    tp3 = price - Math.max(meanDist * 1.0, slDist * 3.0);\n    riskPct = ((slDist / price) * 100).toFixed(2);\n  }\n}\n\nconst isStrongSignal = signal === 'STRONG BUY' || signal === 'STRONG SELL';\n\n// LAYER 2 CHECK: Deduplication\nif (isStrongSignal && lastEntry && (nowTs - lastEntry.ts < DEDUP_WINDOW_MS)) {\n  const scoreDiff = score - lastEntry.score;\n  const elapsedMin = Math.round((nowTs - lastEntry.ts) / 60000);\n  if (scoreDiff < SCORE_UPGRADE_THRESHOLD) {\n    return [{ json: { isHot: false, symbol, rejectReason: '\\ud83d\\udd01 DUPLICATE: ' + wsDirection + ' ' + symbol + ' sudah dikirim ' + elapsedMin + 'm lalu (score ' + lastEntry.score + '). Score baru ' + score + ' belum naik cukup.' } }];\n  }\n}\nif (isStrongSignal) { state.signalCache[dedupKey] = { ts: nowTs, score, signal }; }\n\nreturn [{\n  json: {\n    symbol, price: price.toFixed(4),\n    wsChange: wsPctChange.toFixed(2) + '%', wsDirection,\n    signal, strategy, confidence, score,\n    reasons: reasons.join(' | '),\n    trend1h: trend, trend4h, rsi1h: _rsi.toFixed(1), rsi4h: rsi4h.toFixed(1),\n    macdHist: _macd.hist.toFixed(6),\n    macdCross: _macd.cu ? 'BULL CROSS' : (_macd.cd ? 'BEAR CROSS' : 'None'),\n    adx1h: _adx.toFixed(1), volRatio: volRatio.toFixed(1) + 'x',\n    volBreakRatio: volBreakRatioVal ? volBreakRatioVal.toFixed(1) + 'x vs 5bar' : 'N/A',\n    ema21: E21.toFixed(4),\n    res1h: res1h.toFixed(4), res4h: res4h > 0 ? res4h.toFixed(4) : 'N/A',\n    support: recentL.toFixed(4), resistance: effectiveRes.toFixed(4),\n    distSupport: ((price - recentL) / price * 100).toFixed(2) + '%',\n    distResistance: ((effectiveRes - price) / price * 100).toFixed(2) + '%',\n    sl: sl.toFixed(4), tp1: tp1.toFixed(4), tp2: tp2.toFixed(4), tp3: tp3.toFixed(4),\n    riskPct: riskPct + '%', atr: _atr.toFixed(6),\n    isHot: isStrongSignal,\n    rejectReason: !isStrongSignal ? 'Score ' + score + ' (Min 55 for STRONG). ' + reasons.join(', ') : '',\n  }\n}];"
      },
      "id": "b1000001-0006-4000-b000-000000000006",
      "name": "Pro Analisa TA v10",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -900,
        800
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.isHot }}",
              "value2": true
            }
          ]
        }
      },
      "id": "b1000001-0007-4000-b000-000000000007",
      "name": "Is Hot?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -600,
        800
      ]
    },
    {
      "parameters": {
        "chatId": "@cryptospikehunter",
        "text": "={{ $json.signal === 'STRONG BUY' ? '🟢' : '🔴' }} *{{ $json.symbol }} — {{ $json.signal }}*\n🎯 Confidence: *{{ $json.confidence }}* (Score: {{ $json.score }}/100)\n\n💰 *Entry:* `{{ $json.price }}`\n📊 *WS Trigger:* {{ $json.wsDirection }} {{ $json.wsChange }}\n📈 *Strategy:* {{ $json.strategy }}\n\n*Market Context:*\n├ Trend 4H: {{ $json.trend4h }} (RSI: {{ $json.rsi4h }})\n├ Trend 1H: {{ $json.trend1h }} (RSI: {{ $json.rsi1h }})\n├ MACD: {{ $json.macdCross }} ({{ $json.macdHist }})\n├ ADX: {{ $json.adx1h }} {{ parseInt($json.adx1h) > 25 ? '💪' : '😐' }}\n├ Volume: {{ $json.volRatio }}\n└ EMA21: `{{ $json.ema21 }}`\n\n*Support & Resistance:*\n├ 🔺 Resistance: `{{ $json.resistance }}` ({{ $json.distResistance }})\n└ 🔻 Support: `{{ $json.support }}` ({{ $json.distSupport }})\n\n*Risk Management (Backtested):*\n├ 🎯 *EXECUTE:* {{ $json.strategy }}\n├ 🛡️ *SL:* `{{ $json.sl }}` ({{ $json.riskPct }} risk)\n├ 🥇 *TP1:* `{{ $json.tp1 }}` (close 50%, RR 1.5:1)\n├ 🥈 *TP2:* `{{ $json.tp2 }}` (close 30%, RR 2:1)\n└ 🥉 *TP3:* `{{ $json.tp3 }}` (close 20%, RR 3:1)\n\n📐 ATR: {{ $json.atr }}\n💡 _{{ $json.reasons }}_\n\n📊 _Backtest: WR 57.6% | PF 2.02 | +14.24R/42d_\n\n🔗 [Binance](https://www.binance.com/en/futures/{{ $json.symbol }}) | [TradingView](https://www.tradingview.com/chart/?symbol=BINANCE:{{ $json.symbol }}.P)\n⏰ {{ $now.setZone('Asia/Jakarta').format('dd MMM HH:mm') }} WIB",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "b1000001-0008-4000-b000-000000000008",
      "name": "Telegram Alert",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -200,
        700
      ],
      "credentials": {
        "telegramApi": {
          "id": "aNtvHk0oDffDwsLX",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "@cryptospikehunter",
        "text": "=📋 *{{ $json.symbol }}* — SKIP (Score {{ $json.score }}/100)\n{{ $json.rejectReason }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "b1000001-0009-4000-b000-000000000009",
      "name": "Telegram Log (Disabled)",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -200,
        1000
      ],
      "credentials": {
        "telegramApi": {
          "id": "aNtvHk0oDffDwsLX",
          "name": "Telegram account"
        }
      },
      "disabled": true
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Get Klines 1h",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Klines 1h": {
      "main": [
        [
          {
            "node": "Get Klines 4h",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Klines 4h": {
      "main": [
        [
          {
            "node": "Pro Analisa TA v10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pro Analisa TA v10": {
      "main": [
        [
          {
            "node": "Is Hot?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Hot?": {
      "main": [
        [
          {
            "node": "Telegram Alert",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram Log (Disabled)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "tags": []
}