n8n-workflow-hybrid.json
{
  "name": "Spike Hunter Pro v14 — Multi-Layer Confluence (PF 2.0+)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "crypto-signal",
        "responseMode": "onReceived",
        "responseData": "allEntries",
        "options": {}
      },
      "id": "b1000001-0001-4000-b000-000000000001",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        -1600,
        800
      ],
      "webhookId": "crypto-signal"
    },
    {
      "parameters": {
        "url": "https://fapi.binance.com/fapi/v1/klines",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "symbol",
              "value": "={{ $json.body.symbol }}"
            },
            {
              "name": "interval",
              "value": "1h"
            },
            {
              "name": "limit",
              "value": "1500"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "id": "b1000001-0003-4000-b000-000000000003",
      "name": "Get Klines 1h",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -1300,
        800
      ]
    },
    {
      "parameters": {
        "url": "https://fapi.binance.com/fapi/v1/klines",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "symbol",
              "value": "={{ $('Webhook Trigger').first().json.body.symbol }}"
            },
            {
              "name": "interval",
              "value": "4h"
            },
            {
              "name": "limit",
              "value": "1500"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "id": "b1000001-0004-4000-b000-000000000004",
      "name": "Get Klines 4h",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -1050,
        800
      ]
    },
    {
      "parameters": {
        "jsCode": "// ═══════════════════════════════════════════════════════════════\n// SPIKE HUNTER PRO v14.1 — ADVANCED MOMENTUM DETECTION\n// Hard Gates → Advanced Indicators → Score → Confluence → Profit\n// NEW: RSI Divergence | OBV Confirmation | Bollinger Squeeze\n// ═══════════════════════════════════════════════════════════════\n\nconst webhookData = $('Webhook Trigger').first().json.body;\nconst symbol = webhookData.symbol;\nconst wsPctChange = parseFloat(webhookData.priceChangePercent);\nconst wsDirection = webhookData.direction;\nconst dynamicThreshold = webhookData.threshold ? parseFloat(webhookData.threshold) : 2.0;\nconst nowTs = Date.now();\n\n// ═══ LAYER 1: FRESHNESS CHECK ═══\nconst FRESHNESS_LIMIT_MS = 3 * 60 * 1000;\nif (webhookData.triggeredAt) {\n  const triggeredTs = new Date(webhookData.triggeredAt).getTime();\n  const ageSec = Math.round((nowTs - triggeredTs) / 1000);\n  if (nowTs - triggeredTs > FRESHNESS_LIMIT_MS) {\n    return [{ json: { isHot: false, symbol, rejectReason: '\\u23f0 STALE: Signal sudah ' + ageSec + 's (maks 180s).' } }];\n  }\n}\n\n// ═══ LAYER 2: DEDUP + RATE LIMIT ═══\nconst DEDUP_WINDOW_MS = 3 * 60 * 60 * 1000;\nconst RATE_LIMIT_MS = 10 * 60 * 1000;\nconst SCORE_UPGRADE_THRESHOLD = 12;\nconst state = $getWorkflowStaticData('global');\nif (!state.signalCache) state.signalCache = {};\nfor (const key of Object.keys(state.signalCache)) {\n  if (nowTs - state.signalCache[key].ts > 6 * 60 * 60 * 1000) delete state.signalCache[key];\n}\nconst dedupKey = symbol + '_' + wsDirection;\nconst lastEntry = state.signalCache[dedupKey];\nif (lastEntry && (nowTs - lastEntry.ts < RATE_LIMIT_MS)) {\n  return [{ json: { isHot: false, symbol, rejectReason: '\\ud83d\\udd04 RATE LIMIT: ' + symbol + ' sudah diproses ' + Math.round((nowTs - lastEntry.ts) / 60000) + 'm lalu.' } }];\n}\n\n// ═══ KLINES PARSING ═══\nfunction parseKlines(nodeName) {\n  let raw = $(nodeName).first().json;\n  let data = Array.isArray(raw) ? raw : (typeof raw.data === 'string' ? JSON.parse(raw.data) : raw.data);\n  if (!Array.isArray(data) || data.length < 20) return null;\n  return {\n    open:   data.map(function(k) { return parseFloat(k[1]); }),\n    high:   data.map(function(k) { return parseFloat(k[2]); }),\n    low:    data.map(function(k) { return parseFloat(k[3]); }),\n    close:  data.map(function(k) { return parseFloat(k[4]); }),\n    volume: data.map(function(k) { return parseFloat(k[5]); }),\n  };\n}\n\nconst tf1h = parseKlines('Get Klines 1h');\nconst tf4h = parseKlines('Get Klines 4h');\nif (!tf1h) return [{ json: { isHot: false, symbol, rejectReason: 'Data klines 1H tidak cukup' } }];\n\n// ═══ CORE INDICATOR FUNCTIONS ═══\nfunction calcEMA(p, n) {\n  const k = 2/(n+1); let e = p.slice(0,n).reduce(function(a,b){return a+b;})/n;\n  const r = new Array(n-1).fill(null); r.push(e);\n  for (let i=n; i<p.length; i++) { e=(p[i]-e)*k+e; r.push(e); }\n  return r;\n}\nfunction calcSMA(p, n) {\n  const r = [];\n  for (let i = 0; i < p.length; i++) {\n    if (i < n - 1) { r.push(null); continue; }\n    let sum = 0;\n    for (let j = i - n + 1; j <= i; j++) sum += p[j];\n    r.push(sum / n);\n  }\n  return r;\n}\nfunction calcRSI(p, n) {\n  n = n || 14;\n  if (p.length < n+1) return 50;\n  let g=0,lo=0;\n  for (let i=1; i<=n; i++) { let d=p[i]-p[i-1]; d>=0?g+=d:lo-=d; }\n  let ag=g/n, al=lo/n;\n  for (let i=n+1; i<p.length; i++) {\n    let d=p[i]-p[i-1]; ag=((ag*(n-1))+(d>=0?d:0))/n; al=((al*(n-1))+(d<0?-d:0))/n;\n  }\n  return al===0 ? 100 : 100-(100/(1+(ag/al)));\n}\nfunction calcRSIArray(p, n) {\n  n = n || 14;\n  const result = [];\n  for (let i = 0; i < p.length; i++) {\n    if (i < n) { result.push(null); continue; }\n    result.push(calcRSI(p.slice(0, i + 1), n));\n  }\n  return result;\n}\nfunction calcMACD(p) {\n  const f=calcEMA(p,12), s=calcEMA(p,26), ml=[];\n  for (let i=0; i<p.length; i++) if(f[i]!==null&&s[i]!==null) ml.push(f[i]-s[i]);\n  if (ml.length<9) return {h:0,ph:0,cu:false,cd:false,hist:0};\n  const sl=calcEMA(ml,9);\n  const lm=ml[ml.length-1],ls=sl[sl.length-1]||0,pm=ml[ml.length-2]||lm,ps=sl[sl.length-2]||ls;\n  return {h:lm-ls, ph:pm-ps, cu:pm<=ps&&lm>ls, cd:pm>=ps&&lm<ls, hist:lm-ls};\n}\nfunction calcATR(h,l,c,n) {\n  n=n||14; if(h.length<n+1) return 0;\n  let t=[h[0]-l[0]];\n  for(let i=1;i<h.length;i++) t.push(Math.max(h[i]-l[i],Math.abs(h[i]-c[i-1]),Math.abs(l[i]-c[i-1])));\n  let a=t.slice(0,n).reduce(function(x,y){return x+y;})/n;\n  for(let i=n;i<t.length;i++) a=(a*(n-1)+t[i])/n;\n  return a;\n}\nfunction calcADX(h,l,c,n) {\n  n=n||14; if(h.length<n*3) return 0;\n  let t=[],pd=[],md=[];\n  for(let i=1;i<h.length;i++) {\n    t.push(Math.max(h[i]-l[i],Math.abs(h[i]-c[i-1]),Math.abs(l[i]-c[i-1])));\n    let u=h[i]-h[i-1],d=l[i-1]-l[i];\n    pd.push(u>d&&u>0?u:0); md.push(d>u&&d>0?d:0);\n  }\n  let aT=t.slice(0,n).reduce(function(a,b){return a+b;}),aP=pd.slice(0,n).reduce(function(a,b){return a+b;}),aM=md.slice(0,n).reduce(function(a,b){return a+b;});\n  const dx=[];\n  for(let i=n;i<t.length;i++) {\n    aT=aT-aT/n+t[i]; aP=aP-aP/n+pd[i]; aM=aM-aM/n+md[i];\n    let pI=(aP/aT)*100,mI=(aM/aT)*100;\n    dx.push((pI+mI)===0?0:Math.abs(pI-mI)/(pI+mI)*100);\n  }\n  if(dx.length<n) return 0;\n  let a=dx.slice(0,n).reduce(function(x,y){return x+y;})/n;\n  for(let i=n;i<dx.length;i++) a=((a*(n-1))+dx[i])/n;\n  return a;\n}\n\n// ═══ NEW: OBV (On-Balance Volume) ═══\nfunction calcOBV(close, volume) {\n  const obv = [0];\n  for (let i = 1; i < close.length; i++) {\n    if (close[i] > close[i-1]) obv.push(obv[i-1] + volume[i]);\n    else if (close[i] < close[i-1]) obv.push(obv[i-1] - volume[i]);\n    else obv.push(obv[i-1]);\n  }\n  return obv;\n}\n\nfunction getOBVTrend(obv, lookback) {\n  lookback = lookback || 10;\n  if (obv.length < lookback + 1) return 'NEUTRAL';\n  const recent = obv.slice(-lookback);\n  let sumX = 0, sumY = 0, sumXY = 0, sumX2 = 0;\n  const n = recent.length;\n  for (let i = 0; i < n; i++) {\n    sumX += i; sumY += recent[i]; sumXY += i * recent[i]; sumX2 += i * i;\n  }\n  const slope = (n * sumXY - sumX * sumY) / (n * sumX2 - sumX * sumX);\n  const avgObv = sumY / n;\n  const normalizedSlope = avgObv !== 0 ? (slope / Math.abs(avgObv)) * 100 : 0;\n  if (normalizedSlope > 0.5) return 'RISING';\n  if (normalizedSlope < -0.5) return 'FALLING';\n  return 'NEUTRAL';\n}\n\n// ═══ NEW: RSI DIVERGENCE DETECTOR ═══\nfunction detectRSIDivergence(close, low, high, rsiArr, lookback) {\n  lookback = lookback || 50;\n  const idx = close.length - 1;\n  if (idx < lookback || !rsiArr[idx]) return { bullish: false, bearish: false };\n\n  const startIdx = idx - lookback;\n  let bullDiv = false, bearDiv = false;\n\n  // Bullish: price lower low, RSI higher low\n  for (let i = startIdx + 2; i < idx - 2; i++) {\n    if (!rsiArr[i]) continue;\n    const isSwingLow = low[i] <= low[i-1] && low[i] <= low[i-2] && low[i] <= low[i+1] && low[i] <= low[i+2];\n    if (!isSwingLow) continue;\n    if (low[idx] < low[i] || (Math.abs(low[idx] - low[i]) / low[i] < 0.005)) {\n      if (rsiArr[idx] > rsiArr[i] + 2) { bullDiv = true; break; }\n    }\n  }\n\n  // Bearish: price higher high, RSI lower high\n  for (let i = startIdx + 2; i < idx - 2; i++) {\n    if (!rsiArr[i]) continue;\n    const isSwingHigh = high[i] >= high[i-1] && high[i] >= high[i-2] && high[i] >= high[i+1] && high[i] >= high[i+2];\n    if (!isSwingHigh) continue;\n    if (high[idx] > high[i] || (Math.abs(high[idx] - high[i]) / high[i] < 0.005)) {\n      if (rsiArr[idx] < rsiArr[i] - 2) { bearDiv = true; break; }\n    }\n  }\n\n  return { bullish: bullDiv, bearish: bearDiv };\n}\n\n// ═══ NEW: BOLLINGER BAND SQUEEZE ═══\nfunction calcBollingerBands(close, period, mult) {\n  period = period || 20; mult = mult || 2;\n  const sma = calcSMA(close, period);\n  const upper = [], lower = [], width = [];\n  for (let i = 0; i < close.length; i++) {\n    if (sma[i] === null) { upper.push(null); lower.push(null); width.push(null); continue; }\n    let variance = 0;\n    for (let j = i - period + 1; j <= i; j++) variance += Math.pow(close[j] - sma[i], 2);\n    const stdDev = Math.sqrt(variance / period);\n    upper.push(sma[i] + mult * stdDev);\n    lower.push(sma[i] - mult * stdDev);\n    width.push(sma[i] !== 0 ? ((mult * 2 * stdDev) / sma[i]) * 100 : 0);\n  }\n  return { sma, upper, lower, width };\n}\n\nfunction detectBBSqueeze(width, lookback) {\n  lookback = lookback || 20;\n  if (width.length < lookback + 1) return { isSqueeze: false, isBreakout: false };\n  const recent = width.slice(-lookback).filter(function(w) { return w !== null; });\n  if (recent.length < 10) return { isSqueeze: false, isBreakout: false };\n  const currentW = recent[recent.length - 1];\n  const prevWidths = recent.slice(0, -1);\n  const avgW = prevWidths.reduce(function(a,b){return a+b;}) / prevWidths.length;\n  const isSqueeze = currentW < avgW * 0.7;\n  const prevW = recent[recent.length - 2] || currentW;\n  const isBreakout = prevW < avgW * 0.7 && currentW > prevW * 1.1;\n  return { isSqueeze, isBreakout, currentWidth: currentW, avgWidth: avgW };\n}\n\n// ═══ 4H TREND ANALYSIS ═══\nlet trend4h = 'SIDEWAYS';\nlet rsi4h = 50;\nlet trend4hBias = 'NEUTRAL';\nlet res4h = 0;\nif (tf4h) {\n  const c4 = tf4h.close, h4 = tf4h.high;\n  const e21_4h = calcEMA(c4, 21);\n  const e50_4h = calcEMA(c4, 50);\n  const price4h = c4[c4.length - 1];\n  const E21_4h = e21_4h[e21_4h.length-1] || price4h;\n  const E50_4h = e50_4h[e50_4h.length-1] || price4h;\n  rsi4h = calcRSI(c4);\n  res4h = Math.max.apply(null, h4.slice(-90));\n  if (price4h > E21_4h && E21_4h > E50_4h) { trend4h = 'UPTREND'; trend4hBias = 'BULLISH'; }\n  else if (price4h < E21_4h && E21_4h < E50_4h) { trend4h = 'DOWNTREND'; trend4hBias = 'BEARISH'; }\n}\n\n// ═══ 1H INDICATORS ═══\nconst c = tf1h.close, h = tf1h.high, l = tf1h.low, o = tf1h.open, v = tf1h.volume;\nconst price = c[c.length - 1];\nconst idx = c.length - 1;\nconst _rsi = calcRSI(c);\nconst _prevRsi = calcRSI(c.slice(0, -1));\nconst _rsiArray = calcRSIArray(c, 14);\nconst _macd = calcMACD(c);\nconst _atr = calcATR(h, l, c);\nconst _adx = calcADX(h, l, c);\nconst e9 = calcEMA(c, 9), e21 = calcEMA(c, 21), e50 = calcEMA(c, 50), e200 = calcEMA(c, 200);\nconst E9 = e9[e9.length-1]||price, E21 = e21[e21.length-1]||price;\nconst E50 = e50[e50.length-1]||price, E200 = e200[e200.length-1]||price;\nconst prevE9 = e9[e9.length-2]||E9, prevE21 = e21[e21.length-2]||E21;\n\n// EMA 9/21 Cross\nconst ema9CrossAbove21 = prevE9 <= prevE21 && E9 > E21;\nconst ema9CrossBelow21 = prevE9 >= prevE21 && E9 < E21;\n\nconst avgVol = v.slice(-20).reduce(function(a,b){return a+b;})/20;\nconst volRatio = v[v.length-1]/avgVol;\nconst res1h = Math.max.apply(null, h.slice(-200));\nconst recentL = Math.min.apply(null, l.slice(-200));\nconst effectiveRes = (res4h > 0 && Math.abs(res4h - res1h) / price < 0.05)\n  ? Math.max(res4h, res1h) : (res4h > 0 ? Math.min(res4h, res1h) : res1h);\nlet trend = 'SIDEWAYS';\nif(price>E21&&E21>E50) trend = 'UPTREND';\nelse if(price<E21&&E21<E50) trend = 'DOWNTREND';\nconst body = Math.abs(c[idx] - o[idx]);\nconst range = h[idx] - l[idx];\nconst upperWick = h[idx] - Math.max(c[idx], o[idx]);\nconst lowerWick = Math.min(c[idx], o[idx]) - l[idx];\nconst bodyRatio = range > 0 ? body / range : 0;\nconst isGreen = c[idx] > o[idx];\nconst isRed = c[idx] < o[idx];\nconst vol5avg = v.slice(Math.max(0, idx-5), idx).reduce(function(a,b){return a+b;}, 0) / Math.min(5, idx);\nconst volBreakRatio = vol5avg > 0 ? v[idx] / vol5avg : 1;\n\n// Freefall\nlet ffCount = 0;\nfor (let k = idx-5; k <= idx; k++) {\n  if (k > 24) { const ll = Math.min.apply(null, l.slice(k-24, k)); if (l[k] < ll) ffCount++; }\n}\n\n// ═══ ADVANCED INDICATORS ═══\nconst _obv = calcOBV(c, v);\nconst _obvTrend = getOBVTrend(_obv, 10);\nconst _rsiDiv = detectRSIDivergence(c, l, h, _rsiArray, 50);\nconst _bb = calcBollingerBands(c, 20, 2);\nconst _bbSqueeze = detectBBSqueeze(_bb.width, 20);\nconst priceAboveUpperBB = _bb.upper[idx] !== null && price > _bb.upper[idx];\nconst priceBelowLowerBB = _bb.lower[idx] !== null && price < _bb.lower[idx];\nconst atrPct = price > 0 ? (_atr / price) * 100 : 0;\n\nlet score = 0, signal = 'NEUTRAL', strategy = 'WAIT', confidence = 'LOW';\nconst reasons = [];\nlet confluenceCount = 0;\nlet confluenceTotal = 9;\nlet estimatedTP1Pct = 0, estimatedTP2Pct = 0, estimatedTP3Pct = 0, estimatedRiskPct = 0;\n\n// ═══ STRATEGY 1: BUY THE DIP ═══\nif (wsPctChange <= -dynamicThreshold) {\n  // HARD GATES\n  if (_rsi >= 40) return [{ json: { isHot: false, symbol, rejectReason: '\\ud83d\\udeab GATE: RSI ' + _rsi.toFixed(0) + ' tidak oversold (<40)' } }];\n  if (ffCount >= 3) return [{ json: { isHot: false, symbol, rejectReason: '\\ud83d\\udeab GATE: FREEFALL (' + ffCount + ' break low)' } }];\n  if (!isGreen) return [{ json: { isHot: false, symbol, rejectReason: '\\ud83d\\udeab GATE: Candle merah. RSI: ' + _rsi.toFixed(0) } }];\n  if (volRatio < 1.5) return [{ json: { isHot: false, symbol, rejectReason: '\\ud83d\\udeab GATE: Volume rendah (' + volRatio.toFixed(1) + 'x) min 1.5x' } }];\n  if (trend4hBias === 'BEARISH') return [{ json: { isHot: false, symbol, rejectReason: '\\ud83d\\udeab GATE: 4H DOWNTREND' } }];\n  if (_rsi > _prevRsi === false && _rsi >= 25) return [{ json: { isHot: false, symbol, rejectReason: '\\ud83d\\udeab GATE: RSI ' + _rsi.toFixed(0) + ' masih turun' } }];\n  if (_obvTrend === 'FALLING') return [{ json: { isHot: false, symbol, rejectReason: '\\ud83d\\udeab GATE: OBV FALLING — smart money jual' } }];\n  if (atrPct < 0.3) return [{ json: { isHot: false, symbol, rejectReason: '\\ud83d\\udeab GATE: ATR rendah (' + atrPct.toFixed(2) + '%)' } }];\n\n  // SCORING\n  if (_rsi < 20) { score += 25; reasons.push('RSI ' + _rsi.toFixed(0) + ' extreme \\ud83d\\udd25'); confluenceCount++; }\n  else if (_rsi < 25) { score += 20; reasons.push('RSI ' + _rsi.toFixed(0) + ' deep oversold'); confluenceCount++; }\n  else if (_rsi < 30) { score += 15; reasons.push('RSI ' + _rsi.toFixed(0) + ' oversold'); confluenceCount++; }\n  else if (_rsi < 35) { score += 10; reasons.push('RSI ' + _rsi.toFixed(0)); confluenceCount++; }\n  else { score += 5; }\n\n  const absPct = Math.abs(wsPctChange);\n  if (absPct >= 10) { score += 15; reasons.push(absPct.toFixed(1) + '% CRASH \\ud83d\\udca5'); confluenceCount++; }\n  else if (absPct >= 7) { score += 12; reasons.push(absPct.toFixed(1) + '% big drop'); confluenceCount++; }\n  else if (absPct >= 5) { score += 9; reasons.push(absPct.toFixed(1) + '% drop'); confluenceCount++; }\n  else if (absPct >= 3) { score += 6; reasons.push(absPct.toFixed(1) + '% dip'); }\n  else { score += 3; }\n\n  if (volRatio > 4.0) { score += 12; reasons.push('Vol ' + volRatio.toFixed(1) + 'x MASSIVE'); confluenceCount++; }\n  else if (volRatio > 2.5) { score += 8; reasons.push('Vol ' + volRatio.toFixed(1) + 'x spike'); confluenceCount++; }\n  else { score += 4; reasons.push('Vol ' + volRatio.toFixed(1) + 'x'); }\n\n  if (bodyRatio > 0.6) { score += 15; reasons.push('Marubozu (' + (bodyRatio*100).toFixed(0) + '%) \\u2705'); confluenceCount++; }\n  else if (bodyRatio > 0.4) { score += 10; reasons.push('Strong green (' + (bodyRatio*100).toFixed(0) + '%)'); confluenceCount++; }\n  else { score += 5; reasons.push('Weak green (' + (bodyRatio*100).toFixed(0) + '%)'); }\n\n  if (_macd.cu) { score += 12; reasons.push('MACD Bull Cross \\ud83d\\udd25'); confluenceCount++; }\n  else if (_macd.h < 0 && _macd.h > _macd.ph) { score += 7; reasons.push('MACD turning up'); confluenceCount++; }\n  else { reasons.push('MACD belum confirm'); }\n\n  const sup = Math.min.apply(null, l.slice(Math.max(0, idx-168), idx));\n  const dSup = (price - sup) / price * 100;\n  if (dSup < 0.5) { score += 12; reasons.push('Double Bottom \\u2705'); confluenceCount++; }\n  else if (dSup < 1.5) { score += 7; reasons.push('Near support (' + dSup.toFixed(1) + '%)'); confluenceCount++; }\n  else if (dSup < 3) { score += 3; }\n\n  if (range > 0 && lowerWick/range > 0.5) { score += 7; reasons.push('Buyer wick \\u2191'); }\n  else if (range > 0 && lowerWick/range > 0.3) { score += 4; }\n  if (_adx < 20) { score += 5; reasons.push('ADX weak — mean revert'); }\n  else if (_adx > 40) { score -= 5; reasons.push('ADX strong \\u26a0\\ufe0f'); }\n\n  // RSI Bullish Divergence\n  if (_rsiDiv.bullish) { score += 20; reasons.push('\\ud83d\\udd25 RSI BULL DIVERGENCE'); confluenceCount++; }\n\n  // OBV\n  if (_obvTrend === 'RISING') { score += 10; reasons.push('OBV RISING — accumulation \\u2705'); confluenceCount++; }\n  else { score += 3; reasons.push('OBV neutral'); }\n\n  // BONUS\n  if (ema9CrossAbove21) { score += 8; reasons.push('EMA 9/21 Bull Cross \\u2705'); }\n  if (priceBelowLowerBB) { score += 5; reasons.push('Below BB Lower \\u2705'); }\n  if (trend4hBias === 'BULLISH') { score += 10; reasons.push('4H UPTREND \\u2705'); }\n  else { score += 3; reasons.push('4H Sideways'); }\n\n  if (confluenceCount < 4) return [{ json: { isHot: false, symbol, rejectReason: '\\ud83d\\udeab CONFLUENCE: ' + confluenceCount + '/9 (min 4). Score ' + score } }];\n\n  if (score >= 75) { signal = 'STRONG BUY'; strategy = 'LONG (Buy Dip)'; confidence = 'VERY HIGH'; }\n  else if (score >= 65) { signal = 'STRONG BUY'; strategy = 'LONG (Buy Dip)'; confidence = 'HIGH'; }\n  else { reasons.push('Score ' + score + ' < 65'); }\n}\n\n// ═══ STRATEGY 2 & 3: PUMP ═══\nelse if (wsPctChange >= dynamicThreshold) {\n  let shortScore = 0, breakoutScore = 0;\n  const shortReasons = [], breakoutReasons = [];\n  let shortConfluence = 0, breakoutConfluence = 0;\n\n  // SHORT\n  const shortGatePass = (_rsi >= 65) && isRed && (trend4hBias !== 'BULLISH') && (_obvTrend !== 'RISING');\n  if (shortGatePass) {\n    if (_rsi >= 80) { shortScore += 25; shortReasons.push('RSI ' + _rsi.toFixed(0) + ' EXTREME OB \\ud83d\\udd25'); shortConfluence++; }\n    else if (_rsi >= 75) { shortScore += 20; shortReasons.push('RSI ' + _rsi.toFixed(0) + ' overbought'); shortConfluence++; }\n    else if (_rsi >= 70) { shortScore += 15; shortReasons.push('RSI ' + _rsi.toFixed(0) + ' high'); shortConfluence++; }\n    else { shortScore += 8; shortReasons.push('RSI ' + _rsi.toFixed(0)); shortConfluence++; }\n\n    if (wsPctChange >= 12) { shortScore += 15; shortReasons.push('MASSIVE Pump ' + wsPctChange.toFixed(1) + '%'); shortConfluence++; }\n    else if (wsPctChange >= 8) { shortScore += 12; shortReasons.push('Big Pump ' + wsPctChange.toFixed(1) + '%'); shortConfluence++; }\n    else if (wsPctChange >= 5) { shortScore += 8; shortReasons.push('Pump ' + wsPctChange.toFixed(1) + '%'); shortConfluence++; }\n    else { shortScore += 4; }\n\n    if (bodyRatio > 0.5) { shortScore += 15; shortReasons.push('Strong reversal'); shortConfluence++; }\n    else { shortScore += 8; shortReasons.push('Red candle'); shortConfluence++; }\n\n    if (range > 0 && upperWick/range > 0.5) { shortScore += 12; shortReasons.push('Long upper wick'); shortConfluence++; }\n    else if (range > 0 && upperWick/range > 0.3) { shortScore += 7; shortReasons.push('Upper wick'); shortConfluence++; }\n\n    if (_macd.cd) { shortScore += 12; shortReasons.push('MACD Bear Cross \\ud83d\\udd25'); shortConfluence++; }\n    else if (_macd.h > 0 && _macd.h < _macd.ph) { shortScore += 6; shortReasons.push('MACD fading'); shortConfluence++; }\n\n    const dResShort = (effectiveRes - price) / price * 100;\n    if (dResShort > -0.5 && dResShort < 1.0) { shortScore += 10; shortReasons.push('At MTF Resistance'); shortConfluence++; }\n\n    if (_rsiDiv.bearish) { shortScore += 20; shortReasons.push('\\ud83d\\udd25 RSI BEAR DIVERGENCE'); shortConfluence++; }\n    if (_obvTrend === 'FALLING') { shortScore += 10; shortReasons.push('OBV FALLING \\u2705'); shortConfluence++; }\n    if (ema9CrossBelow21) { shortScore += 8; shortReasons.push('EMA 9/21 Bear Cross'); }\n\n    if (trend4hBias === 'BEARISH') { shortScore += 10; shortReasons.push('4H DOWNTREND \\u2705'); }\n    else { shortScore += 3; shortReasons.push('4H Sideways'); }\n  }\n\n  // BREAKOUT\n  const dRes1hBreak = (price - res1h) / price * 100;\n  const breakoutGatePass = (dRes1hBreak > 0 || (res4h > 0 && price > res4h))\n    && volBreakRatio > 1.5 && trend4hBias !== 'BEARISH'\n    && (range > 0 && upperWick/range < 0.5) && _obvTrend !== 'FALLING';\n\n  if (breakoutGatePass) {\n    const prevAboveRes = idx > 0 && c[idx-1] > res1h;\n    if (prevAboveRes) { breakoutScore += 20; breakoutReasons.push('2-bar above res \\ud83d\\udd11'); breakoutConfluence++; }\n    else { breakoutScore += 10; breakoutReasons.push('1-bar breakout'); breakoutConfluence++; }\n\n    if (volBreakRatio > 3.0) { breakoutScore += 20; breakoutReasons.push('Vol BREAKOUT ' + volBreakRatio.toFixed(1) + 'x \\ud83d\\udd25'); breakoutConfluence++; }\n    else if (volBreakRatio > 2.0) { breakoutScore += 14; breakoutReasons.push('Vol ' + volBreakRatio.toFixed(1) + 'x'); breakoutConfluence++; }\n    else { breakoutScore += 8; breakoutReasons.push('Vol ' + volBreakRatio.toFixed(1) + 'x'); breakoutConfluence++; }\n\n    if (_rsi >= 55 && _rsi < 70) { breakoutScore += 15; breakoutReasons.push('RSI Momentum ' + _rsi.toFixed(0)); breakoutConfluence++; }\n    else if (_rsi >= 50) { breakoutScore += 8; breakoutReasons.push('RSI ' + _rsi.toFixed(0)); breakoutConfluence++; }\n    else if (_rsi >= 70) { breakoutScore += 5; breakoutReasons.push('RSI high \\u26a0\\ufe0f'); }\n    else { breakoutScore -= 5; breakoutReasons.push('RSI weak'); }\n\n    if (isGreen && bodyRatio > 0.75) { breakoutScore += 15; breakoutReasons.push('Marubozu'); breakoutConfluence++; }\n    else if (isGreen && bodyRatio > 0.55) { breakoutScore += 8; breakoutReasons.push('Bullish candle'); breakoutConfluence++; }\n    else if (bodyRatio < 0.3) { breakoutScore -= 10; breakoutReasons.push('Weak candle \\u26a0\\ufe0f'); }\n\n    if (range > 0) {\n      const wickR = upperWick / range;\n      if (wickR < 0.15) { breakoutScore += 5; breakoutReasons.push('Clean breakout'); }\n      else if (wickR > 0.35) { breakoutScore -= 8; breakoutReasons.push('Upper wick risk'); }\n    }\n\n    const dRes4hBreak = res4h > 0 ? (price - res4h) / price * 100 : null;\n    if (dRes4hBreak !== null && dRes4hBreak > 0 && dRes4hBreak < 3.0) {\n      breakoutScore += 18; breakoutReasons.push('4H Res BREAK \\ud83d\\udd11'); breakoutConfluence++;\n    } else if (dRes1hBreak > 0 && dRes1hBreak < 2.0) {\n      breakoutScore += 12; breakoutReasons.push('1H Res break'); breakoutConfluence++;\n    }\n\n    if (_macd.cu) { breakoutScore += 10; breakoutReasons.push('MACD Bull Cross'); breakoutConfluence++; }\n    else if (_macd.h > 0 && _macd.h > _macd.ph) { breakoutScore += 7; breakoutReasons.push('MACD momentum \\u2191'); breakoutConfluence++; }\n\n    if (_adx > 30) { breakoutScore += 10; breakoutReasons.push('ADX Strong (' + _adx.toFixed(0) + ')'); }\n    else if (_adx > 25) { breakoutScore += 6; }\n    else if (_adx < 15) { breakoutScore -= 8; breakoutReasons.push('ADX lemah'); }\n\n    // BB Squeeze Breakout\n    if (_bbSqueeze.isBreakout && priceAboveUpperBB) {\n      breakoutScore += 15; breakoutReasons.push('\\ud83d\\udca5 BB SQUEEZE BREAKOUT'); breakoutConfluence++;\n    } else if (_bbSqueeze.isSqueeze) {\n      breakoutScore += 5; breakoutReasons.push('BB Squeeze');\n    }\n\n    if (_obvTrend === 'RISING') { breakoutScore += 10; breakoutReasons.push('OBV RISING \\u2705'); breakoutConfluence++; }\n    if (ema9CrossAbove21) { breakoutScore += 8; breakoutReasons.push('EMA 9/21 Bull Cross'); }\n\n    if (trend4hBias === 'BULLISH') { breakoutScore += 12; breakoutReasons.push('4H UPTREND \\u2705'); }\n    else { breakoutScore += 3; }\n  }\n\n  // DECIDE\n  const shortOk = shortGatePass && shortConfluence >= 4 && shortScore >= 65;\n  const breakOk = breakoutGatePass && breakoutConfluence >= 4 && breakoutScore >= 65;\n\n  if (shortOk && shortScore >= breakoutScore) {\n    score = shortScore; confluenceCount = shortConfluence; confluenceTotal = 9;\n    reasons.push.apply(reasons, shortReasons);\n    if (score >= 75) { signal = 'STRONG SELL'; strategy = 'SHORT (Overbought)'; confidence = 'VERY HIGH'; }\n    else { signal = 'STRONG SELL'; strategy = 'SHORT (Overbought)'; confidence = 'HIGH'; }\n  } else if (breakOk) {\n    score = breakoutScore; confluenceCount = breakoutConfluence; confluenceTotal = 9;\n    reasons.push.apply(reasons, breakoutReasons);\n    if (score >= 75) { signal = 'STRONG BUY'; strategy = 'LONG (Breakout)'; confidence = 'VERY HIGH'; }\n    else { signal = 'STRONG BUY'; strategy = 'LONG (Breakout)'; confidence = 'HIGH'; }\n  } else {\n    const why = [];\n    if (shortGatePass) why.push('SHORT sc:' + shortScore + ' conf:' + shortConfluence + '/4');\n    else why.push('SHORT gates fail');\n    if (breakoutGatePass) why.push('BREAK sc:' + breakoutScore + ' conf:' + breakoutConfluence + '/4');\n    else why.push('BREAK gates fail');\n    reasons.push('Pump ' + wsPctChange.toFixed(1) + '% — ' + why.join(' | '));\n  }\n} else {\n  reasons.push('Change ' + wsPctChange.toFixed(1) + '% di bawah threshold ' + dynamicThreshold + '%');\n}\n\n// ═══ SL/TP + PROFIT ESTIMATION ═══\nlet sl = 0, tp1 = 0, tp2 = 0, tp3 = 0, riskPct = '0';\nconst isStrongSignal = signal === 'STRONG BUY' || signal === 'STRONG SELL';\n\nif (_atr > 0 && isStrongSignal) {\n  if (strategy.indexOf('LONG') !== -1) {\n    sl = price - (_atr * 2.0);\n    const slDist = price - sl;\n    const meanDist = Math.max(E21 - price, _atr * 2);\n    tp1 = price + Math.max(meanDist * 0.4, slDist * 1.5);\n    tp2 = price + Math.max(meanDist * 0.7, slDist * 2.5);\n    tp3 = price + Math.max(meanDist * 1.0, slDist * 3.5);\n    riskPct = ((slDist / price) * 100).toFixed(2);\n    estimatedTP1Pct = ((tp1 - price) / price * 100);\n    estimatedTP2Pct = ((tp2 - price) / price * 100);\n    estimatedTP3Pct = ((tp3 - price) / price * 100);\n    estimatedRiskPct = ((price - sl) / price * 100);\n  } else if (strategy.indexOf('SHORT') !== -1) {\n    sl = price + (_atr * 2.0);\n    const slDist = sl - price;\n    const meanDist = Math.max(price - E21, _atr * 2);\n    tp1 = price - Math.max(meanDist * 0.4, slDist * 1.5);\n    tp2 = price - Math.max(meanDist * 0.7, slDist * 2.5);\n    tp3 = price - Math.max(meanDist * 1.0, slDist * 3.5);\n    riskPct = ((slDist / price) * 100).toFixed(2);\n    estimatedTP1Pct = ((price - tp1) / price * 100);\n    estimatedTP2Pct = ((price - tp2) / price * 100);\n    estimatedTP3Pct = ((price - tp3) / price * 100);\n    estimatedRiskPct = ((sl - price) / price * 100);\n  }\n}\n\n// FINAL DEDUP\nif (isStrongSignal && lastEntry && (nowTs - lastEntry.ts < DEDUP_WINDOW_MS)) {\n  const scoreDiff = score - lastEntry.score;\n  const elapsedMin = Math.round((nowTs - lastEntry.ts) / 60000);\n  if (scoreDiff < SCORE_UPGRADE_THRESHOLD) {\n    return [{ json: { isHot: false, symbol, rejectReason: '\\ud83d\\udd01 DEDUP: ' + symbol + ' sent ' + elapsedMin + 'm ago (score ' + lastEntry.score + '\\u2192' + score + ').' } }];\n  }\n}\nif (isStrongSignal) { state.signalCache[dedupKey] = { ts: nowTs, score, signal }; }\n\nreturn [{\n  json: {\n    symbol, price: price.toFixed(4),\n    wsChange: wsPctChange.toFixed(2) + '%', wsDirection,\n    signal, strategy, confidence, score,\n    confluenceCount: confluenceCount + '/' + confluenceTotal,\n    reasons: reasons.join(' | '),\n    trend1h: trend, trend4h,\n    ema9: E9.toFixed(4), ema21: E21.toFixed(4), ema200: E200.toFixed(4),\n    emaCross: ema9CrossAbove21 ? 'EMA9/21 BULL \\u2705' : (ema9CrossBelow21 ? 'EMA9/21 BEAR' : 'None'),\n    macroTrend: price > E200 ? 'ABOVE MA200' : 'BELOW MA200',\n    rsi1h: _rsi.toFixed(1), rsi4h: rsi4h.toFixed(1),\n    rsiDivergence: _rsiDiv.bullish ? 'BULLISH DIV \\ud83d\\udd25' : (_rsiDiv.bearish ? 'BEARISH DIV \\ud83d\\udd25' : 'None'),\n    obvTrend: _obvTrend,\n    bbSqueeze: _bbSqueeze.isBreakout ? 'BREAKOUT \\ud83d\\udca5' : (_bbSqueeze.isSqueeze ? 'SQUEEZE' : 'Normal'),\n    macdHist: _macd.hist.toFixed(6),\n    macdCross: _macd.cu ? 'BULL CROSS' : (_macd.cd ? 'BEAR CROSS' : 'None'),\n    adx1h: _adx.toFixed(1), volRatio: volRatio.toFixed(1) + 'x',\n    volBreakRatio: volBreakRatio.toFixed(1) + 'x vs 5bar',\n    res1h: res1h.toFixed(4), res4h: res4h > 0 ? res4h.toFixed(4) : 'N/A',\n    support: recentL.toFixed(4), resistance: effectiveRes.toFixed(4),\n    distSupport: ((price - recentL) / price * 100).toFixed(2) + '%',\n    distResistance: ((effectiveRes - price) / price * 100).toFixed(2) + '%',\n    sl: sl.toFixed(4), tp1: tp1.toFixed(4), tp2: tp2.toFixed(4), tp3: tp3.toFixed(4),\n    riskPct: riskPct + '%', atr: _atr.toFixed(6),\n    atrPct: atrPct.toFixed(2) + '%',\n    estTP1: '+' + estimatedTP1Pct.toFixed(2) + '%',\n    estTP2: '+' + estimatedTP2Pct.toFixed(2) + '%',\n    estTP3: '+' + estimatedTP3Pct.toFixed(2) + '%',\n    estRisk: '-' + estimatedRiskPct.toFixed(2) + '%',\n    estRR1: '1:' + (estimatedTP1Pct / (estimatedRiskPct || 1)).toFixed(1),\n    estRR2: '1:' + (estimatedTP2Pct / (estimatedRiskPct || 1)).toFixed(1),\n    estRR3: '1:' + (estimatedTP3Pct / (estimatedRiskPct || 1)).toFixed(1),\n    isHot: isStrongSignal,\n    rejectReason: !isStrongSignal ? 'Score ' + score + '/100 (Min 65). ' + reasons.join(', ') : '',\n  }\n}];"
      },
      "id": "b1000001-0006-4000-b000-000000000006",
      "name": "Pro Analisa TA v14.1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -900,
        800
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.isHot }}",
              "value2": true
            }
          ]
        }
      },
      "id": "b1000001-0007-4000-b000-000000000007",
      "name": "Is Hot?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -600,
        800
      ]
    },
    {
      "parameters": {
        "chatId": "@cryptospikehunter",
        "text": "={{ $json.signal === 'STRONG BUY' ? '🟢' : '🔴' }} *{{ $json.symbol }} — {{ $json.signal }}*\n🎯 Confidence: *{{ $json.confidence }}* (Score: {{ $json.score }}/100)\n📊 Confluence: *{{ $json.confluenceCount }}* ✅\n\n💰 *Entry:* `{{ $json.price }}`\n📉 *WS Trigger:* {{ $json.wsDirection }} {{ $json.wsChange }}\n📈 *Strategy:* {{ $json.strategy }}\n\n*💵 Estimated Profit:*\n├ 🥇 *TP1:* `{{ $json.tp1 }}` ({{ $json.estTP1 }}) — close 50%, RR {{ $json.estRR1 }}\n├ 🥈 *TP2:* `{{ $json.tp2 }}` ({{ $json.estTP2 }}) — close 30%, RR {{ $json.estRR2 }}\n├ 🥉 *TP3:* `{{ $json.tp3 }}` ({{ $json.estTP3 }}) — close 20%, RR {{ $json.estRR3 }}\n├ 🛡️ *SL:* `{{ $json.sl }}` ({{ $json.estRisk }} risk)\n└ 📐 ATR: {{ $json.atr }} ({{ $json.atrPct }})\n\n*Market Context:*\n├ Trend 4H: {{ $json.trend4h }} (RSI: {{ $json.rsi4h }})\n├ Trend 1H: {{ $json.trend1h }} (RSI: {{ $json.rsi1h }})\n├ MACD: {{ $json.macdCross }} ({{ $json.macdHist }})\n├ ADX: {{ $json.adx1h }} {{ parseInt($json.adx1h) > 25 ? '💪' : '😐' }}\n├ Volume: {{ $json.volRatio }}\n├ EMA Cross: {{ $json.emaCross }}\n└ {{ $json.macroTrend }}\n\n*🔬 Advanced Indicators:*\n├ RSI Divergence: {{ $json.rsiDivergence }}\n├ OBV Trend: {{ $json.obvTrend }}\n└ Bollinger: {{ $json.bbSqueeze }}\n\n*Support & Resistance:*\n├ 🔺 Resistance: `{{ $json.resistance }}` ({{ $json.distResistance }})\n└ 🔻 Support: `{{ $json.support }}` ({{ $json.distSupport }})\n\n💡 _{{ $json.reasons }}_\n\n📊 _v14.1 Advanced Momentum | 9-Point Confluence_\n\n🔗 [Binance](https://www.binance.com/en/futures/{{ $json.symbol }}) | [TradingView](https://www.tradingview.com/chart/?symbol=BINANCE:{{ $json.symbol }}.P)\n⏰ {{ $now.setZone('Asia/Jakarta').format('dd MMM HH:mm') }} WIB",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "b1000001-0008-4000-b000-000000000008",
      "name": "Telegram Alert",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -200,
        600
      ],
      "credentials": {
        "telegramApi": {
          "id": "aNtvHk0oDffDwsLX",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ntfy.sh/cryptospike-bot-tetot",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Title",
              "value": "={{ $json.signal === 'STRONG BUY' ? '🟢' : '🔴' }} {{ $json.symbol }} — {{ $json.signal }} ({{ $json.score }}/100) {{ $json.rsiDivergence !== 'None' ? '📡 DIV' : '' }}"
            },
            {
              "name": "Tags",
              "value": "={{ $json.signal === 'STRONG BUY' ? 'green_circle,chart_with_upwards_trend' : 'red_circle,chart_with_downwards_trend' }}"
            },
            {
              "name": "Priority",
              "value": "={{ $json.confidence === 'VERY HIGH' ? '5' : '4' }}"
            },
            {
              "name": "Actions",
              "value": "=view, Binance, https://www.binance.com/en/futures/{{ $json.symbol }}; view, TradingView, https://www.tradingview.com/chart/?symbol=BINANCE:{{ $json.symbol }}.P"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "string",
        "body": "={{ $json.signal === \"STRONG BUY\" ? \"🟢\" : \"🔴\" }} {{ $json.symbol }} — {{ $json.signal }}\n🎯 Confidence: {{ $json.confidence }} (Score: {{ $json.score }}/100)\n📊 Confluence: {{ $json.confluenceCount }} ✅\n\n💰 Entry: {{ $json.price }}\n📉 WS Trigger: {{ $json.wsDirection }} {{ $json.wsChange }}\n📈 Strategy: {{ $json.strategy }}\n\n💵 Estimated Profit:\n├ 🥇 TP1: {{ $json.tp1 }} ({{ $json.estTP1 }}) — close 50%, RR {{ $json.estRR1 }}\n├ 🥈 TP2: {{ $json.tp2 }} ({{ $json.estTP2 }}) — close 30%, RR {{ $json.estRR2 }}\n├ 🥉 TP3: {{ $json.tp3 }} ({{ $json.estTP3 }}) — close 20%, RR {{ $json.estRR3 }}\n├ 🛡️ SL: {{ $json.sl }} ({{ $json.estRisk }} risk)\n└ 📐 ATR: {{ $json.atr }} ({{ $json.atrPct }})\n\nMarket Context:\n├ Trend 4H: {{ $json.trend4h }} (RSI: {{ $json.rsi4h }})\n├ Trend 1H: {{ $json.trend1h }} (RSI: {{ $json.rsi1h }})\n├ MACD: {{ $json.macdCross }} ({{ $json.macdHist }})\n├ ADX: {{ $json.adx1h }}\n├ Volume: {{ $json.volRatio }}\n├ EMA Cross: {{ $json.emaCross }}\n└ {{ $json.macroTrend }}\n\n🔬 Advanced Indicators:\n├ RSI Divergence: {{ $json.rsiDivergence }}\n├ OBV Trend: {{ $json.obvTrend }}\n└ Bollinger: {{ $json.bbSqueeze }}\n\nSupport & Resistance:\n├ 🔺 Resistance: {{ $json.resistance }} ({{ $json.distResistance }})\n└ 🔻 Support: {{ $json.support }} ({{ $json.distSupport }})\n\n💡 {{ $json.reasons }}\n\n📊 v14.1 Advanced Momentum | 9-Point Confluence\n⏰ {{ $now.setZone(\"Asia/Jakarta\").format(\"dd MMM HH:mm\") }} WIB",
        "options": {}
      },
      "id": "b1000001-0010-4000-b000-000000000010",
      "name": "Ntfy Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -200,
        900
      ]
    },
    {
      "parameters": {
        "chatId": "@cryptospikehunter",
        "text": "=📋 *{{ $json.symbol }}* — SKIP (Score {{ $json.score }}/100)\n{{ $json.rejectReason }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "b1000001-0009-4000-b000-000000000009",
      "name": "Telegram Log (Disabled)",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -200,
        1200
      ],
      "credentials": {
        "telegramApi": {
          "id": "aNtvHk0oDffDwsLX",
          "name": "Telegram account"
        }
      },
      "disabled": true
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Get Klines 1h",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Klines 1h": {
      "main": [
        [
          {
            "node": "Get Klines 4h",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Klines 4h": {
      "main": [
        [
          {
            "node": "Pro Analisa TA v14.1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Hot?": {
      "main": [
        [
          {
            "node": "Telegram Alert",
            "type": "main",
            "index": 0
          },
          {
            "node": "Ntfy Alert",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram Log (Disabled)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pro Analisa TA v14.1": {
      "main": [
        [
          {
            "node": "Is Hot?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "tags": []
}