n8n-workflow-hybrid-v16.1-Scanner.json
{
  "name": "Spike Hunter Pro v16.1 — Dual Architecture",
  "nodes": [
    {
      "id": "n1",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        200,
        300
      ],
      "webhookId": "crypto-signal",
      "parameters": {
        "httpMethod": "POST",
        "path": "crypto-signal",
        "responseMode": "onReceived",
        "responseData": "allEntries",
        "options": {}
      }
    },
    {
      "id": "n2",
      "name": "Get Klines 1h",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1300,
        450
      ],
      "parameters": {
        "url": "https://fapi.binance.com/fapi/v1/klines",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "symbol",
              "value": "={{ $json.symbol }}"
            },
            {
              "name": "interval",
              "value": "1h"
            },
            {
              "name": "limit",
              "value": "1500"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      }
    },
    {
      "id": "n3",
      "name": "Get Klines 4h",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1550,
        450
      ],
      "parameters": {
        "url": "https://fapi.binance.com/fapi/v1/klines",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "symbol",
              "value": "={{ $('Split In Batches (Rate Limit)').first().json.symbol }}"
            },
            {
              "name": "interval",
              "value": "4h"
            },
            {
              "name": "limit",
              "value": "1500"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      }
    },
    {
      "id": "n4",
      "name": "Get Klines 1D",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1800,
        450
      ],
      "parameters": {
        "url": "https://fapi.binance.com/fapi/v1/klines",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "symbol",
              "value": "={{ $('Split In Batches (Rate Limit)').first().json.symbol }}"
            },
            {
              "name": "interval",
              "value": "1d"
            },
            {
              "name": "limit",
              "value": "1500"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      }
    },
    {
      "id": "n5",
      "name": "Get Funding Rate",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2100,
        250
      ],
      "parameters": {
        "url": "https://fapi.binance.com/fapi/v1/fundingRate",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "symbol",
              "value": "={{ $('Split In Batches (Rate Limit)').first().json.symbol }}"
            },
            {
              "name": "limit",
              "value": "100"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "n6",
      "name": "Get OI History",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2100,
        400
      ],
      "parameters": {
        "url": "https://fapi.binance.com/futures/data/openInterestHist",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "symbol",
              "value": "={{ $('Split In Batches (Rate Limit)').first().json.symbol }}"
            },
            {
              "name": "period",
              "value": "1h"
            },
            {
              "name": "limit",
              "value": "30"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "n7",
      "name": "Get Long Short Ratio",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2100,
        550
      ],
      "parameters": {
        "url": "https://fapi.binance.com/futures/data/globalLongShortAccountRatio",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "symbol",
              "value": "={{ $('Split In Batches (Rate Limit)').first().json.symbol }}"
            },
            {
              "name": "period",
              "value": "1h"
            },
            {
              "name": "limit",
              "value": "30"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "n8",
      "name": "Get Taker Volume",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2100,
        700
      ],
      "parameters": {
        "url": "https://fapi.binance.com/futures/data/takerlongshortRatio",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "symbol",
              "value": "={{ $('Split In Batches (Rate Limit)').first().json.symbol }}"
            },
            {
              "name": "period",
              "value": "1h"
            },
            {
              "name": "limit",
              "value": "30"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "n9",
      "name": "Pro Analisa TA v16.0",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2500,
        450
      ],
      "parameters": {
        "jsCode": "// v16.0 DUAL-LAYER PRO ENGINE — SWING + INTRADAY\n// Tier 1: PRIME SWING (strict macro validation, wide SL/TP)\n// Tier 2: INTRADAY SCALP (1H momentum only, tight SL/TP)\n\nconst webhookData = $('Split In Batches (Rate Limit)').first().json;\nconst symbol = webhookData.symbol;\nconst wsPctChange = parseFloat(webhookData.priceChangePercent);\nconst wsDirection = webhookData.direction;\nconst dynamicThreshold = webhookData.threshold ? parseFloat(webhookData.threshold) : 2.0;\nconst nowTs = Date.now();\n\n// ═══ FRESHNESS ═══\nconst FRESHNESS_LIMIT_MS = 3 * 60 * 1000;\nif (webhookData.triggeredAt) {\n  const ageSec = Math.round((nowTs - new Date(webhookData.triggeredAt).getTime()) / 1000);\n  if (ageSec > 180) return [{ json: { isHot: false, symbol, rejectReason: '\\u23f0 STALE: ' + ageSec + 's' } }];\n}\n\n// ═══ RATE LIMIT + DEDUP ═══\nconst state = $getWorkflowStaticData('global');\nif (!state.signalCache) state.signalCache = {};\nfor (const key of Object.keys(state.signalCache)) {\n  if (nowTs - state.signalCache[key].ts > 6 * 3600000) delete state.signalCache[key];\n}\nconst dedupKey = symbol + '_' + wsDirection;\nconst lastEntry = state.signalCache[dedupKey];\nif (lastEntry && (nowTs - lastEntry.ts < 600000)) {\n  return [{ json: { isHot: false, symbol, rejectReason: '\\ud83d\\udd04 RATE LIMIT' } }];\n}\n\n// ═══ KLINES PARSING ═══\nfunction parseKlines(nodeName) {\n  try {\n    let raw = $(nodeName).first().json;\n    let data = Array.isArray(raw) ? raw : (typeof raw.data === 'string' ? JSON.parse(raw.data) : raw.data);\n    if (!Array.isArray(data) || data.length < 20) return null;\n    return {\n      open: data.map(function(k){return parseFloat(k[1]);}),\n      high: data.map(function(k){return parseFloat(k[2]);}),\n      low: data.map(function(k){return parseFloat(k[3]);}),\n      close: data.map(function(k){return parseFloat(k[4]);}),\n      volume: data.map(function(k){return parseFloat(k[5]);})\n    };\n  } catch(e) { return null; }\n}\n\nconst tf1h = parseKlines('Get Klines 1h');\nconst tf4h = parseKlines('Get Klines 4h');\nconst tf1d = parseKlines('Get Klines 1D');\nif (!tf1h) return [{ json: { isHot: false, symbol, rejectReason: 'No 1H data' } }];\n\n// ═══ DYNAMIC VOLUME FILTER ═══\nvar quoteVol = parseFloat(webhookData.quoteVolume || 0);\nvar volTier = 'HIGH';\nvar volPenalty = 0;\nvar volWarning = '';\nif (quoteVol > 0 && quoteVol < 1000000) {\n  return [{ json: { isHot: false, symbol, rejectReason: '\\ud83d\\udeab Vol ' + (quoteVol/1e6).toFixed(2) + 'M < $1M minimum' } }];\n} else if (quoteVol > 0 && quoteVol < 5000000) {\n  volTier = 'LOW'; volPenalty = -10;\n  volWarning = '\\u26a0\\ufe0f Low Liquidity ($' + (quoteVol/1e6).toFixed(1) + 'M)';\n} else if (quoteVol > 0 && quoteVol < 20000000) {\n  volTier = 'MEDIUM'; volPenalty = 0;\n} else {\n  volTier = 'HIGH'; volPenalty = 0;\n}\n\n// ═══ FUTURES DATA PARSING ═══\nlet fundingRate = 0, fundingTrend = 'NEUTRAL', fundingLabel = 'N/A';\ntry {\n  const frArr = $('Get Funding Rate').first().json;\n  const frData = Array.isArray(frArr) ? frArr : (frArr.body ? JSON.parse(frArr.body) : [frArr]);\n  if (Array.isArray(frData) && frData.length > 0) {\n    fundingRate = parseFloat(frData[frData.length-1].fundingRate || 0);\n    const frPctVal = fundingRate * 100;\n    if (frData.length >= 8) {\n      const recent3 = frData.slice(-3).reduce(function(a,f){return a+parseFloat(f.fundingRate||0);},0)/3;\n      const older8 = frData.slice(-8,-3).reduce(function(a,f){return a+parseFloat(f.fundingRate||0);},0)/5;\n      if (recent3 < older8 - 0.0002) fundingTrend = 'FALLING';\n      else if (recent3 > older8 + 0.0002) fundingTrend = 'RISING';\n    }\n    if (frPctVal < -0.1) fundingLabel = frPctVal.toFixed(3) + '% \\ud83d\\udd25 SHORT SQUEEZE (' + fundingTrend + ')';\n    else if (frPctVal < -0.05) fundingLabel = frPctVal.toFixed(3) + '% Negative (' + fundingTrend + ')';\n    else if (frPctVal > 0.1) fundingLabel = '+' + frPctVal.toFixed(3) + '% \\ud83d\\udd25 LONG LURE (' + fundingTrend + ')';\n    else if (frPctVal > 0.05) fundingLabel = '+' + frPctVal.toFixed(3) + '% High (' + fundingTrend + ')';\n    else fundingLabel = (frPctVal>=0?'+':'') + frPctVal.toFixed(3) + '% (' + fundingTrend + ')';\n  }\n} catch(e) {}\nconst frPct = fundingRate * 100;\n\nlet oiValue = 0, oiLabel = 'N/A', oiTrend = 'NEUTRAL', oiChange = 0;\ntry {\n  var oiArr = $('Get OI History').first().json;\n  var oiData = Array.isArray(oiArr) ? oiArr : [oiArr];\n  if (oiData.length >= 5) {\n    var lastOI = parseFloat(oiData[oiData.length-1].sumOpenInterest || oiData[oiData.length-1].openInterest || 0);\n    var prevOI = parseFloat(oiData[oiData.length-5].sumOpenInterest || oiData[oiData.length-5].openInterest || 0);\n    oiValue = lastOI;\n    oiChange = prevOI > 0 ? ((lastOI - prevOI) / prevOI * 100) : 0;\n    if (oiChange > 3) oiTrend = 'RISING';\n    else if (oiChange < -3) oiTrend = 'FALLING';\n    else oiTrend = 'STABLE';\n    var oiStr = lastOI > 1e9 ? (lastOI/1e9).toFixed(2)+'B' : lastOI > 1e6 ? (lastOI/1e6).toFixed(1)+'M' : lastOI > 1e3 ? (lastOI/1e3).toFixed(0)+'K' : lastOI.toFixed(0);\n    oiLabel = oiStr + ' ' + (oiTrend === 'RISING' ? '\\u2191+' : oiTrend === 'FALLING' ? '\\u2193' : '\\u2194') + oiChange.toFixed(1) + '%';\n  } else if (oiData.length > 0) {\n    oiValue = parseFloat(oiData[oiData.length-1].sumOpenInterest || oiData[oiData.length-1].openInterest || 0);\n    oiLabel = oiValue > 1e6 ? (oiValue/1e6).toFixed(1)+'M' : oiValue.toFixed(0);\n  }\n} catch(e) {}\n\nlet lsRatio = 1.0, lsTrend = 'NEUTRAL', lsLabel = 'N/A';\ntry {\n  const lsArr = $('Get Long Short Ratio').first().json;\n  const lsData = Array.isArray(lsArr) ? lsArr : [lsArr];\n  if (lsData.length > 0) {\n    lsRatio = parseFloat(lsData[lsData.length-1].longShortRatio || 1.0);\n    lsLabel = lsRatio.toFixed(2);\n    if (lsData.length >= 5) {\n      const recent = parseFloat(lsData[lsData.length-1].longShortRatio||1);\n      const older = parseFloat(lsData[Math.max(0,lsData.length-5)].longShortRatio||1);\n      if (recent > older + 0.1) { lsTrend = 'LONG_INCREASING'; lsLabel += ' \\u2191 Longs growing'; }\n      else if (recent < older - 0.1) { lsTrend = 'SHORT_INCREASING'; lsLabel += ' \\u2193 Shorts growing'; }\n      else lsLabel += ' Stable';\n    }\n    if (lsRatio > 2.5) lsLabel += ' \\u26a0\\ufe0f CROWDED LONG';\n    else if (lsRatio < 0.5) lsLabel += ' \\u26a0\\ufe0f CROWDED SHORT';\n  }\n} catch(e) {}\n\nlet takerRatio = 1.0, takerLabel = 'N/A', takerBias = 'NEUTRAL';\ntry {\n  const tkArr = $('Get Taker Volume').first().json;\n  const tkData = Array.isArray(tkArr) ? tkArr : [tkArr];\n  if (tkData.length > 0) {\n    const last = tkData[tkData.length-1];\n    const buyVol = parseFloat(last.buyVol || 0);\n    const sellVol = parseFloat(last.sellVol || 0);\n    takerRatio = sellVol > 0 ? buyVol / sellVol : 1;\n    if (takerRatio > 1.3) { takerBias = 'BUY_AGGRESSIVE'; takerLabel = takerRatio.toFixed(2) + ' \\ud83d\\udfe2 Buyers aggressive'; }\n    else if (takerRatio < 0.7) { takerBias = 'SELL_AGGRESSIVE'; takerLabel = takerRatio.toFixed(2) + ' \\ud83d\\udd34 Sellers aggressive'; }\n    else takerLabel = takerRatio.toFixed(2) + ' Balanced';\n    if (tkData.length >= 5) {\n      const recent3 = tkData.slice(-3).reduce(function(a,t){return a+(parseFloat(t.buyVol||0)/Math.max(parseFloat(t.sellVol||1),0.001));},0)/3;\n      const older = tkData.slice(-5,-3).reduce(function(a,t){return a+(parseFloat(t.buyVol||0)/Math.max(parseFloat(t.sellVol||1),0.001));},0)/2;\n      if (recent3 > older + 0.15) takerLabel += ' (trend: BUY\\u2191)';\n      else if (recent3 < older - 0.15) takerLabel += ' (trend: SELL\\u2191)';\n    }\n  }\n} catch(e) {}\n\n// ═══ INDICATOR FUNCTIONS ═══\nfunction calcEMA(p,n){if(p.length<n)return p[p.length-1]||0;var k=2/(n+1),e=p.slice(0,n).reduce(function(a,b){return a+b;})/n;for(var i=n;i<p.length;i++)e=(p[i]-e)*k+e;return e;}\nfunction calcEMAArr(p,n){var k=2/(n+1),e=p.slice(0,n).reduce(function(a,b){return a+b;})/n;var r=new Array(n-1).fill(null);r.push(e);for(var i=n;i<p.length;i++){e=(p[i]-e)*k+e;r.push(e);}return r;}\nfunction calcRSI(p,n){n=n||14;if(p.length<n+1)return 50;var g=0,lo=0;for(var i=1;i<=n;i++){var d=p[i]-p[i-1];d>=0?g+=d:lo-=d;}var ag=g/n,al=lo/n;for(var i=n+1;i<p.length;i++){var d=p[i]-p[i-1];ag=((ag*(n-1))+(d>=0?d:0))/n;al=((al*(n-1))+(d<0?-d:0))/n;}return al===0?100:100-(100/(1+(ag/al)));}\nfunction calcRSIArr(p,n){n=n||14;var r=[];for(var i=0;i<p.length;i++){if(i<n){r.push(null);continue;}r.push(calcRSI(p.slice(0,i+1),n));}return r;}\nfunction calcMACD(p){var e12=calcEMAArr(p,12),e26=calcEMAArr(p,26),ml=[];for(var i=0;i<p.length;i++)if(e12[i]!==null&&e26[i]!==null)ml.push(e12[i]-e26[i]);if(ml.length<9)return{h:0,ph:0,cu:false,cd:false,hist:0};var sl=calcEMAArr(ml,9);var lm=ml[ml.length-1],ls=sl[sl.length-1]||0,pm=ml[ml.length-2]||lm,ps=sl[sl.length-2]||ls;return{h:lm-ls,ph:pm-ps,cu:pm<=ps&&lm>ls,cd:pm>=ps&&lm<ls,hist:lm-ls};}\nfunction calcATR(h,l,c,n){n=n||14;if(h.length<n+1)return 0;var t=[h[0]-l[0]];for(var i=1;i<h.length;i++)t.push(Math.max(h[i]-l[i],Math.abs(h[i]-c[i-1]),Math.abs(l[i]-c[i-1])));var a=t.slice(0,n).reduce(function(x,y){return x+y;})/n;for(var i=n;i<t.length;i++)a=(a*(n-1)+t[i])/n;return a;}\n\nfunction analyzeMarketStructure(h,l,c,lookback) {\n  lookback=lookback||30; var len=c.length; if(len<lookback)return'NEUTRAL';\n  var sh=h.slice(len-lookback),sl=l.slice(len-lookback);\n  var swH=[],swL=[];\n  for(var i=2;i<sh.length-2;i++){\n    if(sh[i]>sh[i-1]&&sh[i]>sh[i-2]&&sh[i]>sh[i+1]&&sh[i]>sh[i+2])swH.push({i:i,v:sh[i]});\n    if(sl[i]<sl[i-1]&&sl[i]<sl[i-2]&&sl[i]<sl[i+1]&&sl[i]<sl[i+2])swL.push({i:i,v:sl[i]});\n  }\n  if(swH.length<2||swL.length<2)return'NEUTRAL';\n  var hh=swH[swH.length-1].v>swH[swH.length-2].v,hl=swL[swL.length-1].v>swL[swL.length-2].v;\n  var lh=swH[swH.length-1].v<swH[swH.length-2].v,ll=swL[swL.length-1].v<swL[swL.length-2].v;\n  if(hh&&hl)return'BULLISH';if(lh&&ll)return'BEARISH';if(hl&&lh)return'TRANSITION_UP';return'CHOPPY';\n}\n\nfunction detectRSIDivergence(c,l,h,rsiArr,lookback) {\n  lookback=lookback||40;var idx=c.length-1;if(idx<lookback||!rsiArr[idx])return{bullish:false,bearish:false};\n  var startIdx=idx-lookback,bullDiv=false,bearDiv=false;\n  for(var i=startIdx+2;i<idx-2;i++){if(!rsiArr[i])continue;\n    var isSwL=l[i]<=l[i-1]&&l[i]<=l[i-2]&&l[i]<=l[i+1]&&l[i]<=l[i+2];\n    if(isSwL&&(l[idx]<l[i]||Math.abs(l[idx]-l[i])/l[i]<0.005)){if(rsiArr[idx]>rsiArr[i]+3){bullDiv=true;break;}}\n  }\n  for(var i=startIdx+2;i<idx-2;i++){if(!rsiArr[i])continue;\n    var isSwH=h[i]>=h[i-1]&&h[i]>=h[i-2]&&h[i]>=h[i+1]&&h[i]>=h[i+2];\n    if(isSwH&&(h[idx]>h[i]||Math.abs(h[idx]-h[i])/h[i]<0.005)){if(rsiArr[idx]<rsiArr[i]-3){bearDiv=true;break;}}\n  }\n  return{bullish:bullDiv,bearish:bearDiv};\n}\n\n// ═══ TIMEFRAME ANALYSIS ═══\nvar c=tf1h.close,h=tf1h.high,l=tf1h.low,o=tf1h.open,v=tf1h.volume;\nvar price=c[c.length-1],idx=c.length-1;\nvar _rsi=calcRSI(c),_rsiArr=calcRSIArr(c,14),_macd=calcMACD(c),_atr=calcATR(h,l,c);\nvar E21=calcEMA(c,21),E50=calcEMA(c,50),E200=calcEMA(c,200);\nvar avgVol=v.slice(-20).reduce(function(a,b){return a+b;})/20;\nvar volRatio=avgVol>0?v[v.length-1]/avgVol:1;\nvar body=Math.abs(c[idx]-o[idx]),range=h[idx]-l[idx];\nvar bodyRatio=range>0?body/range:0;\nvar upperWick=h[idx]-Math.max(c[idx],o[idx]);\nvar lowerWick=Math.min(c[idx],o[idx])-l[idx];\nvar isGreen=c[idx]>o[idx],isRed=!isGreen;\nvar atrPct=price>0?(_atr/price)*100:0;\nvar _ms=analyzeMarketStructure(h,l,c,30);\nvar _rsiDiv=detectRSIDivergence(c,l,h,_rsiArr,40);\nvar trend1h=price>E21&&E21>E50?'UPTREND':price<E21&&E21<E50?'DOWNTREND':'SIDEWAYS';\n\nvar res1h=Math.max.apply(null,h.slice(-500));\nvar sup1h=Math.min.apply(null,l.slice(-500));\n\nvar ffCount=0;\nfor(var k=idx-5;k<=idx;k++){if(k>24){var ll=Math.min.apply(null,l.slice(k-24,k));if(l[k]<ll)ffCount++;}}\n\nvar vol5avg=v.slice(Math.max(0,idx-5),idx).reduce(function(a,b){return a+b;},0)/Math.min(5,idx);\nvar volBreakRatio=vol5avg>0?v[idx]/vol5avg:1;\n\nvar trend4h='SIDEWAYS',rsi4h=50,bias4h='NEUTRAL',res4h=0;\nif(tf4h){var c4=tf4h.close,h4=tf4h.high;var E21_4=calcEMA(c4,21),E50_4=calcEMA(c4,50);var p4=c4[c4.length-1];rsi4h=calcRSI(c4);res4h=Math.max.apply(null,h4.slice(-200));\n  if(p4>E21_4&&E21_4>E50_4){trend4h='UPTREND';bias4h='BULLISH';}else if(p4<E21_4&&E21_4<E50_4){trend4h='DOWNTREND';bias4h='BEARISH';}}\n\nvar dailyTrend='NEUTRAL',dailyEMA21=0,dailyEMA50=0,dailyEMA200=0;\nvar weeklyBias='NEUTRAL';\nif(tf1d){var dc=tf1d.close;dailyEMA21=calcEMA(dc,21);dailyEMA50=calcEMA(dc,50);dailyEMA200=calcEMA(dc,200);\n  var dp=dc[dc.length-1];\n  if(dp>dailyEMA21&&dailyEMA21>dailyEMA50)dailyTrend='BULLISH';\n  else if(dp<dailyEMA21&&dailyEMA21<dailyEMA50)dailyTrend='BEARISH';\n  else if(dp>dailyEMA21)dailyTrend='ABOVE_EMA';\n  else dailyTrend='BELOW_EMA';\n  if(dp>dailyEMA200)weeklyBias='ABOVE MA200';\n  else weeklyBias='BELOW MA200';\n}\nvar dailyBearish=dailyTrend==='BEARISH';\nvar dailyBullish=dailyTrend==='BULLISH'||dailyTrend==='ABOVE_EMA';\n\nvar effectiveRes=(res4h>0&&Math.abs(res4h-res1h)/price<0.05)?Math.max(res4h,res1h):(res4h>0?Math.min(res4h,res1h):res1h);\n\n// ════════════════════════════════════════════════════════════\n// v16.0 DUAL-LAYER SCORING ENGINE\n// TIER 1: PRIME SWING (strict macro rules, wide SL/TP)\n// TIER 2: INTRADAY SCALP (1H momentum, tight SL/TP)\n// ════════════════════════════════════════════════════════════\n\nvar score=0,signal='NEUTRAL',strategy='WAIT',confidence='LOW';\nvar reasons=[];\nvar signalType='NONE'; // 'PRIME_SWING' or 'INTRADAY_SCALP'\n\n// ═══════════════════════════════════════\n// SCORING FUNCTION (reusable for both tiers)\n// ═══════════════════════════════════════\nfunction scoreDip(tier) {\n  var s=0, r=[];\n  var absPct=Math.abs(wsPctChange);\n\n  // RSI scoring\n  if(_rsi<20){s+=25;r.push('RSI '+_rsi.toFixed(0)+' EXTREME');}\n  else if(_rsi<25){s+=20;r.push('RSI '+_rsi.toFixed(0)+' extreme');}\n  else if(_rsi<30){s+=15;r.push('RSI '+_rsi.toFixed(0)+' oversold');}\n  else if(_rsi<35){s+=10;r.push('RSI '+_rsi.toFixed(0));}\n  else if(_rsi<40){s+=7;r.push('RSI '+_rsi.toFixed(0));}\n  else if(_rsi<50){s+=4;r.push('RSI '+_rsi.toFixed(0));}\n  else{s+=2;}\n\n  // Price change magnitude\n  if(absPct>=10){s+=15;r.push(absPct.toFixed(1)+'% CRASH');}\n  else if(absPct>=7){s+=12;r.push(absPct.toFixed(1)+'% big drop');}\n  else if(absPct>=5){s+=9;r.push(absPct.toFixed(1)+'% drop');}\n  else{s+=5;}\n\n  // Volume\n  if(volRatio>4){s+=12;r.push('Vol '+volRatio.toFixed(1)+'x massive');}\n  else if(volRatio>2.5){s+=8;r.push('Vol '+volRatio.toFixed(1)+'x');}\n  else if(volRatio>1.2){s+=4;r.push('Vol '+volRatio.toFixed(1)+'x');}\n  else{s+=2;}\n\n  // Candle structure\n  if(bodyRatio>0.6){s+=12;r.push('Marubozu');}\n  else if(bodyRatio>0.4){s+=8;r.push('Strong green');}\n  else{s+=4;}\n\n  // MACD\n  if(_macd.cu){s+=12;r.push('MACD Bull Cross');}\n  else if(_macd.h<0&&_macd.h>_macd.ph){s+=7;r.push('MACD turning');}\n\n  // Support\n  var sup=Math.min.apply(null,l.slice(Math.max(0,idx-168),idx));\n  var dSup=(price-sup)/price*100;\n  if(dSup<0.5){s+=12;r.push('Double Bottom');}\n  else if(dSup<1.5){s+=7;r.push('Near support');}\n  else if(dSup<3){s+=3;}\n\n  // Wicks\n  if(range>0&&lowerWick/range>0.5){s+=7;r.push('Buyer wick');}\n  else if(range>0&&lowerWick/range>0.3){s+=4;}\n\n  // Market Structure\n  if(_ms==='BULLISH'){s+=15;r.push('Structure HH+HL');}\n  else if(_ms==='TRANSITION_UP'){s+=10;r.push('Structure TRANSITION');}\n\n  // Funding Rate\n  if(frPct<-0.1){s+=15;r.push('Funding '+frPct.toFixed(3)+'% SHORT SQZ');}\n  else if(frPct<-0.05){s+=10;r.push('Funding negative');}\n  else if(frPct>0.05){s-=5;}\n  if(fundingTrend==='FALLING'&&frPct<0){s+=5;r.push('FR trend falling');}\n\n  // L/S Ratio\n  if(lsRatio>2.5){s+=10;r.push('L/S '+lsRatio.toFixed(1)+' CROWDED LONG');}\n  else if(lsRatio>1.8){s+=5;r.push('L/S long heavy');}\n  else if(lsRatio<0.5){s-=8;r.push('L/S shorts dominate');}\n  if(lsTrend==='SHORT_INCREASING'){s+=5;r.push('Shorts growing');}\n\n  // Taker\n  if(takerBias==='BUY_AGGRESSIVE'){s+=12;r.push('Taker BUY \\ud83d\\udfe2');}\n  else if(takerBias==='SELL_AGGRESSIVE'){s-=8;r.push('Taker SELL aggressive');}\n\n  // OI\n  if(oiTrend==='RISING'&&wsPctChange<0){s+=10;r.push('OI RISING+drop=squeeze');}\n  else if(oiTrend==='FALLING'&&wsPctChange<0){s+=5;r.push('OI FALLING=bottom near');}\n\n  // RSI Divergence\n  if(_rsiDiv.bullish){s+=20;r.push('RSI BULL DIVERGENCE');}\n\n  // 4H / Daily alignment (ONLY matters for SWING tier)\n  if(tier==='SWING') {\n    if(bias4h==='BULLISH'){s+=8;r.push('4H UPTREND');}\n    else if(bias4h==='BEARISH'){s-=5;r.push('4H downtrend');}\n    if(dailyTrend==='BULLISH'){s+=5;r.push('Daily BULLISH');}\n    else if(dailyTrend==='ABOVE_EMA'){s+=3;}\n    else if(dailyTrend==='BELOW_EMA'){s-=8;r.push('Daily BELOW EMA');}\n  }\n\n  // Volume tier penalty\n  if(volPenalty!==0){s+=volPenalty;r.push('LiqPenalty '+volPenalty);}\n\n  return {score:s, reasons:r};\n}\n\nfunction scorePump(tier) {\n  var shortScore=0,breakoutScore=0;\n  var shortReasons=[],breakoutReasons=[];\n\n  // SHORT gate\n  var hasWickReject=range>0&&upperWick/range>0.3;\n  var shortRsiMin = tier==='SWING' ? 65 : 55;\n  var shortGate=(_rsi>=shortRsiMin)&&(tier==='INTRADAY'||!dailyBullish)&&(isRed||(_rsi>=72)||hasWickReject);\n  if(shortGate){\n    if(_rsi>=80){shortScore+=25;shortReasons.push('RSI '+_rsi.toFixed(0)+' EXTREME OB');}\n    else if(_rsi>=75){shortScore+=20;shortReasons.push('RSI '+_rsi.toFixed(0));}\n    else if(_rsi>=70){shortScore+=15;shortReasons.push('RSI '+_rsi.toFixed(0));}\n    else if(_rsi>=60){shortScore+=8;shortReasons.push('RSI '+_rsi.toFixed(0));}\n    else{shortScore+=4;}\n\n    if(wsPctChange>=12){shortScore+=15;shortReasons.push('Pump '+wsPctChange.toFixed(1)+'%');}\n    else if(wsPctChange>=8){shortScore+=12;shortReasons.push('Pump '+wsPctChange.toFixed(1)+'%');}\n    else if(wsPctChange>=5){shortScore+=8;shortReasons.push('Pump '+wsPctChange.toFixed(1)+'%');}\n    else{shortScore+=4;}\n\n    if(isRed&&bodyRatio>0.5){shortScore+=12;shortReasons.push('Strong red');}\n    else if(isRed){shortScore+=7;shortReasons.push('Red candle');}\n    else if(hasWickReject){shortScore+=10;shortReasons.push('Upper wick reject');}\n    else{shortScore+=3;}\n\n    if(range>0&&upperWick/range>0.5){shortScore+=12;shortReasons.push('Long Upper wick');}\n    else if(range>0&&upperWick/range>0.3){shortScore+=6;}\n\n    if(_macd.cd){shortScore+=12;shortReasons.push('MACD Bear Cross');}\n    else if(_macd.h>0&&_macd.h<_macd.ph){shortScore+=6;shortReasons.push('MACD fading');}\n\n    if(_ms==='BEARISH'){shortScore+=12;shortReasons.push('Structure LH+LL');}\n\n    if(frPct>0.1){shortScore+=15;shortReasons.push('Funding +'+frPct.toFixed(3)+'% LONG LURE');}\n    else if(frPct>0.05){shortScore+=8;shortReasons.push('Funding high');}\n\n    if(lsRatio>2.5){shortScore+=12;shortReasons.push('L/S CROWDED LONG');}\n    else if(lsRatio>1.8){shortScore+=6;shortReasons.push('L/S long heavy');}\n\n    if(takerBias==='SELL_AGGRESSIVE'){shortScore+=10;shortReasons.push('Taker SELL aggressive');}\n\n    if(oiTrend==='RISING'&&wsPctChange>0){shortScore-=5;shortReasons.push('OI RISING=careful short');}\n    else if(oiTrend==='FALLING'&&wsPctChange>0){shortScore+=8;shortReasons.push('OI FALLING=fake pump');}\n\n    if(_rsiDiv.bearish){shortScore+=20;shortReasons.push('RSI BEAR DIVERGENCE');}\n\n    // Macro alignment only for SWING\n    if(tier==='SWING') {\n      if(dailyBearish){shortScore+=8;shortReasons.push('Daily BEAR');}\n      if(bias4h==='BEARISH'){shortScore+=8;shortReasons.push('4H DOWN');}\n    }\n\n    if(volPenalty!==0){shortScore+=volPenalty;shortReasons.push('LiqPenalty '+volPenalty);}\n  }\n\n  // BREAKOUT gate\n  var dRes1h=(price-res1h)/price*100;\n  var volBreakMin = tier==='SWING' ? 1.5 : 1.1;\n  var breakGate=(dRes1h>0||(res4h>0&&price>res4h))&&volBreakRatio>volBreakMin&&(tier==='INTRADAY'||dailyBullish)&&(range>0&&upperWick/range<0.5);\n  if(breakGate){\n    var prevAboveRes=idx>0&&c[idx-1]>res1h;\n    if(prevAboveRes){breakoutScore+=18;breakoutReasons.push('2-bar close above res');}\n    else{breakoutScore+=10;breakoutReasons.push('Breakout candle');}\n\n    if(volBreakRatio>3){breakoutScore+=20;breakoutReasons.push('Vol '+volBreakRatio.toFixed(1)+'x BREAK');}\n    else if(volBreakRatio>2){breakoutScore+=14;breakoutReasons.push('Vol '+volBreakRatio.toFixed(1)+'x');}\n    else{breakoutScore+=8;}\n\n    if(_rsi>=55&&_rsi<70){breakoutScore+=15;breakoutReasons.push('RSI Momentum '+_rsi.toFixed(0));}\n    else if(_rsi>=50){breakoutScore+=8;}\n    else{breakoutScore-=5;}\n\n    if(isGreen&&bodyRatio>0.7){breakoutScore+=15;breakoutReasons.push('Marubozu breakout');}\n    else if(isGreen&&bodyRatio>0.5){breakoutScore+=8;}\n\n    if(_macd.cu){breakoutScore+=10;breakoutReasons.push('MACD Bull Cross');}\n    if(_ms==='BULLISH'){breakoutScore+=12;breakoutReasons.push('Structure HH+HL');}\n\n    if(takerBias==='BUY_AGGRESSIVE'){breakoutScore+=12;breakoutReasons.push('Taker BUY aggressive');}\n    if(frPct<-0.05){breakoutScore+=12;breakoutReasons.push('Funding neg SHORT SQZ');}\n\n    // Macro only for SWING\n    if(tier==='SWING') {\n      if(bias4h==='BULLISH'){breakoutScore+=10;breakoutReasons.push('4H UPTREND');}\n      if(dailyTrend==='BULLISH'){breakoutScore+=8;breakoutReasons.push('Daily BULL');}\n    }\n\n    if(volPenalty!==0){breakoutScore+=volPenalty;breakoutReasons.push('LiqPenalty '+volPenalty);}\n  }\n\n  return {shortScore,breakoutScore,shortReasons,breakoutReasons,shortGate,breakGate};\n}\n\n// ════════════════════════════════════════\n// TIER 1: PRIME SWING (strict rules)\n// ════════════════════════════════════════\nvar tier1Passed = false;\n\nif(wsPctChange<=-dynamicThreshold) {\n  // SWING hard gates\n  var swingGatePass = !dailyBearish && _rsi<45 && ffCount<3 && (isGreen||_rsi<22) && volRatio>=1.5 && _ms!=='BEARISH' && atrPct>=0.3;\n  if(swingGatePass) {\n    var dipResult = scoreDip('SWING');\n    if(dipResult.score>=58) {\n      tier1Passed=true; score=dipResult.score; reasons=dipResult.reasons;\n      signalType='PRIME_SWING';\n      if(score>=68){signal='STRONG BUY';strategy='LONG (Buy Dip)';confidence='VERY HIGH';}\n      else{signal='STRONG BUY';strategy='LONG (Buy Dip)';confidence='HIGH';}\n    }\n  }\n} else if(wsPctChange>=dynamicThreshold) {\n  var pumpResult = scorePump('SWING');\n  var shortOkSwing = pumpResult.shortGate && pumpResult.shortScore>=55;\n  var breakOkSwing = pumpResult.breakGate && pumpResult.breakoutScore>=60;\n  if(shortOkSwing && pumpResult.shortScore>=pumpResult.breakoutScore) {\n    tier1Passed=true; score=pumpResult.shortScore; reasons=pumpResult.shortReasons;\n    signalType='PRIME_SWING';\n    if(score>=75){signal='STRONG SELL';strategy='SHORT (Overbought)';confidence='VERY HIGH';}\n    else{signal='STRONG SELL';strategy='SHORT (Overbought)';confidence='HIGH';}\n  } else if(breakOkSwing) {\n    tier1Passed=true; score=pumpResult.breakoutScore; reasons=pumpResult.breakoutReasons;\n    signalType='PRIME_SWING';\n    if(score>=75){signal='STRONG BUY';strategy='LONG (Breakout)';confidence='VERY HIGH';}\n    else{signal='STRONG BUY';strategy='LONG (Breakout)';confidence='HIGH';}\n  }\n}\n\n// ════════════════════════════════════════\n// TIER 2: INTRADAY SCALP (relaxed rules)\n// Only runs if Tier 1 did NOT pass\n// ════════════════════════════════════════\nif(!tier1Passed) {\n  if(wsPctChange<=-dynamicThreshold) {\n    // Intraday has NO daily trend block, relaxed RSI/vol gates\n    var intradayGatePass = _rsi<55 && ffCount<4 && volRatio>=1.0 && atrPct>=0.2;\n    if(intradayGatePass) {\n      var dipResult2 = scoreDip('INTRADAY');\n      if(dipResult2.score>=40) {\n        score=dipResult2.score; reasons=dipResult2.reasons;\n        signalType='INTRADAY_SCALP';\n        if(score>=55){signal='STRONG BUY';strategy='LONG (Intraday Dip)';confidence='MEDIUM';}\n        else{signal='STRONG BUY';strategy='LONG (Intraday Dip)';confidence='LOW-MEDIUM';}\n      } else {\n        reasons.push('INTRADAY score '+dipResult2.score+' (min 40)');\n      }\n    } else {\n      reasons.push('Gates blocked: RSI='+_rsi.toFixed(0)+' Vol='+volRatio.toFixed(1)+'x FF='+ffCount);\n    }\n  } else if(wsPctChange>=dynamicThreshold) {\n    var pumpResult2 = scorePump('INTRADAY');\n    var shortOkIntra = pumpResult2.shortGate && pumpResult2.shortScore>=40;\n    var breakOkIntra = pumpResult2.breakGate && pumpResult2.breakoutScore>=40;\n    if(shortOkIntra && pumpResult2.shortScore>=pumpResult2.breakoutScore) {\n      score=pumpResult2.shortScore; reasons=pumpResult2.shortReasons;\n      signalType='INTRADAY_SCALP';\n      if(score>=55){signal='STRONG SELL';strategy='SHORT (Intraday OB)';confidence='MEDIUM';}\n      else{signal='STRONG SELL';strategy='SHORT (Intraday OB)';confidence='LOW-MEDIUM';}\n    } else if(breakOkIntra) {\n      score=pumpResult2.breakoutScore; reasons=pumpResult2.breakoutReasons;\n      signalType='INTRADAY_SCALP';\n      if(score>=55){signal='STRONG BUY';strategy='LONG (Intraday Break)';confidence='MEDIUM';}\n      else{signal='STRONG BUY';strategy='LONG (Intraday Break)';confidence='LOW-MEDIUM';}\n    } else {\n      reasons.push('Pump '+wsPctChange.toFixed(1)+'%');\n      if(pumpResult2.shortGate)reasons.push('SHORT sc:'+pumpResult2.shortScore);\n      if(pumpResult2.breakGate)reasons.push('BREAK sc:'+pumpResult2.breakoutScore);\n    }\n  } else {\n    reasons.push('Change '+wsPctChange.toFixed(1)+'% < threshold');\n  }\n}\n\n// ═══ DYNAMIC SL/TP based on TIER ═══\nvar sl=0,tp1=0,tp2=0,tp3=0,riskPct='0';\nvar isStrongSignal=signal==='STRONG BUY'||signal==='STRONG SELL';\n\nif(_atr>0&&isStrongSignal) {\n  // SWING = wide targets | INTRADAY = tight targets\n  var slMult = signalType==='PRIME_SWING' ? 2.0 : 1.5;\n  var tp1RR = signalType==='PRIME_SWING' ? 1.5 : 1.0;\n  var tp2RR = signalType==='PRIME_SWING' ? 2.5 : 1.5;\n  var tp3RR = signalType==='PRIME_SWING' ? 3.5 : 2.5;\n  var meanMult1 = signalType==='PRIME_SWING' ? 0.4 : 0.3;\n  var meanMult2 = signalType==='PRIME_SWING' ? 0.7 : 0.5;\n  var meanMult3 = signalType==='PRIME_SWING' ? 1.0 : 0.8;\n\n  if(strategy.indexOf('LONG')!==-1) {\n    sl=price-(_atr*slMult);var slDist=price-sl;var meanDist=Math.max(E21-price,_atr*slMult);\n    tp1=price+Math.max(meanDist*meanMult1,slDist*tp1RR);\n    tp2=price+Math.max(meanDist*meanMult2,slDist*tp2RR);\n    tp3=price+Math.max(meanDist*meanMult3,slDist*tp3RR);\n    riskPct=((slDist/price)*100).toFixed(2);\n  } else {\n    sl=price+(_atr*slMult);var slDist=sl-price;var meanDist=Math.max(price-E21,_atr*slMult);\n    tp1=price-Math.max(meanDist*meanMult1,slDist*tp1RR);\n    tp2=price-Math.max(meanDist*meanMult2,slDist*tp2RR);\n    tp3=price-Math.max(meanDist*meanMult3,slDist*tp3RR);\n    riskPct=((slDist/price)*100).toFixed(2);\n  }\n}\n\nvar estTP1Pct=strategy.indexOf('LONG')!==-1?(tp1-price)/price*100:(price-tp1)/price*100;\nvar estTP2Pct=strategy.indexOf('LONG')!==-1?(tp2-price)/price*100:(price-tp2)/price*100;\nvar estTP3Pct=strategy.indexOf('LONG')!==-1?(tp3-price)/price*100:(price-tp3)/price*100;\nvar estRiskPct=parseFloat(riskPct)||0;\n\n// DEDUP\nif(isStrongSignal&&lastEntry&&(nowTs-lastEntry.ts<10800000)){\n  if(score-lastEntry.score<12)return[{json:{isHot:false,symbol,rejectReason:'\\ud83d\\udd01 DEDUP sc '+lastEntry.score+'\\u2192'+score}}];\n}\nif(isStrongSignal){state.signalCache[dedupKey]={ts:nowTs,score,signal};}\n\n// Signal Type Label\nvar signalTypeLabel = signalType==='PRIME_SWING' ? '👑 PRIME SWING' : signalType==='INTRADAY_SCALP' ? '⚡ INTRADAY SCALP' : 'NONE';\nif(webhookData.source === 'HOURLY_SCANNER') signalTypeLabel += ' [🕰️ SCANNER]';\n\n\n\n// ═══ PRO ENTRY GUIDANCE ═══\nvar entryValidity = 'SKIP';\nvar entryEmoji = '';\nvar entryAction = '';\nvar positionSize = '';\nvar tradeManagement = '';\nvar holdDuration = '';\n\nif (isStrongSignal && signalType === 'PRIME_SWING') {\n  if (score >= 80) {\n    entryValidity = 'HIGHLY VALID';\n    entryEmoji = '\\ud83d\\udfe2\\ud83d\\udfe2\\ud83d\\udfe2';\n    entryAction = 'ENTER NOW - Premium Setup. Place order immediately.';\n    positionSize = '2-3% of capital (High Conviction)';\n    holdDuration = '4 Hours - 2 Days';\n  } else if (score >= 68) {\n    entryValidity = 'VALID';\n    entryEmoji = '\\ud83d\\udfe2\\ud83d\\udfe2';\n    entryAction = 'ENTER NOW - Strong Setup. Place order promptly.';\n    positionSize = '1-2% of capital (Standard)';\n    holdDuration = '4 Hours - 1 Day';\n  } else {\n    entryValidity = 'MODERATELY VALID';\n    entryEmoji = '\\ud83d\\udfe2';\n    entryAction = 'CAUTIOUS ENTRY - Decent setup. Wait for 5min candle confirmation.';\n    positionSize = '0.5-1% of capital (Conservative)';\n    holdDuration = '2 - 8 Hours';\n  }\n  tradeManagement = 'TP1 hit \\u2192 Move SL to Entry (Break-Even). TP2 hit \\u2192 Close 50%, trail rest to TP3.';\n} else if (isStrongSignal && signalType === 'INTRADAY_SCALP') {\n  if (score >= 70) {\n    entryValidity = 'VALID (SCALP)';\n    entryEmoji = '\\u26a1\\u26a1';\n    entryAction = 'SCALP ENTRY - Strong momentum. Place order with tight SL.';\n    positionSize = '1-1.5% of capital (Scalp Size)';\n    holdDuration = '15 Min - 2 Hours';\n  } else if (score >= 55) {\n    entryValidity = 'MODERATE (SCALP)';\n    entryEmoji = '\\u26a1';\n    entryAction = 'CAUTIOUS SCALP - Moderate momentum. Wait for green 5m candle close.';\n    positionSize = '0.5-1% of capital (Small Scalp)';\n    holdDuration = '15 Min - 1 Hour';\n  } else {\n    entryValidity = 'LOW (SCALP)';\n    entryEmoji = '\\u26a0\\ufe0f';\n    entryAction = 'OPTIONAL - Low score. Skip if unsure, or enter minimal size.';\n    positionSize = '0.25-0.5% of capital (Micro)';\n    holdDuration = '5 - 30 Min';\n  }\n  tradeManagement = 'TP1 hit \\u2192 CLOSE 100% (don\\'t be greedy). Or move SL to BE and target TP2.';\n}\n\n\n// ═══ SCANNER QUALITY GATE ═══\n// Scanner signals must have HIGHER score to pass (reduce noise)\nif (webhookData.source === 'HOURLY_SCANNER' && isStrongSignal) {\n  var scannerMinScore = signalType === 'PRIME_SWING' ? 65 : 60;\n  if (score < scannerMinScore) {\n    return [{json:{\n      isHot: false, symbol: symbol,\n      rejectReason: 'SCANNER quality gate: score ' + score + ' < min ' + scannerMinScore\n    }}];\n  }\n}\n\nreturn [{json:{\n  symbol, price:price.toFixed(4),\n  wsChange:wsPctChange.toFixed(2)+'%', wsDirection,\n  signalType:signalTypeLabel,\n  signal, strategy, confidence, score,\n  reasons:reasons.join(' | '),\n  dailyTrend, weeklyBias,\n  trend4h, trend1h,\n  rsi1h:_rsi.toFixed(1), rsi4h:rsi4h.toFixed(1),\n  marketStructure:_ms,\n  rsiDivergence:_rsiDiv.bullish?'BULL DIV \\ud83d\\udd25':(_rsiDiv.bearish?'BEAR DIV \\ud83d\\udd25':'None'),\n  macdCross:_macd.cu?'BULL CROSS':(_macd.cd?'BEAR CROSS':'None'),\n  macdHist:_macd.hist.toFixed(6),\n  volRatio:volRatio.toFixed(1)+'x', volBreakRatio:volBreakRatio.toFixed(1)+'x',\n  fundingRate:fundingLabel,\n  openInterest:oiLabel, oiTrend:oiTrend,\n  longShortRatio:lsLabel,\n  takerVolume:takerLabel,\n  ema21:E21.toFixed(4), ema200:E200.toFixed(4),\n  macroTrend:price>E200?'ABOVE MA200':'BELOW MA200',\n  resistance:effectiveRes.toFixed(4), support:sup1h.toFixed(4),\n  distResistance:((effectiveRes-price)/price*100).toFixed(2)+'%',\n  distSupport:((price-sup1h)/price*100).toFixed(2)+'%',\n  sl:sl.toFixed(4), tp1:tp1.toFixed(4), tp2:tp2.toFixed(4), tp3:tp3.toFixed(4),\n  riskPct:riskPct+'%', atr:_atr.toFixed(6), atrPct:atrPct.toFixed(2)+'%',\n  estTP1:'+'+estTP1Pct.toFixed(2)+'%', estTP2:'+'+estTP2Pct.toFixed(2)+'%', estTP3:'+'+estTP3Pct.toFixed(2)+'%',\n  estRisk:'-'+estRiskPct.toFixed(2)+'%',\n  estRR1:'1:'+(estTP1Pct/(estRiskPct||1)).toFixed(1),\n  estRR2:'1:'+(estTP2Pct/(estRiskPct||1)).toFixed(1),\n  estRR3:'1:'+(estTP3Pct/(estRiskPct||1)).toFixed(1),\n  volumeTier:volTier, volumeWarning:volWarning,\n  isHot:isStrongSignal,\n  rejectReason:!isStrongSignal?'Score '+score+'/100. '+reasons.join(', '):'',\n  entryValidity:entryValidity,\n  entryEmoji:entryEmoji,\n  entryAction:entryAction,\n  positionSize:positionSize,\n  tradeManagement:tradeManagement,\n  holdDuration:holdDuration,\n  version:'v16.0',\n}}];"
      }
    },
    {
      "id": "n10",
      "name": "Is Hot?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2800,
        450
      ],
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.isHot }}",
              "value2": true
            }
          ]
        }
      }
    },
    {
      "id": "n11",
      "name": "Telegram Alert",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        3100,
        250
      ],
      "credentials": {
        "telegramApi": {
          "id": "aNtvHk0oDffDwsLX",
          "name": "Telegram account"
        }
      },
      "parameters": {
        "chatId": "@cryptospikehunter",
        "text": "={{ $json.signal === 'STRONG BUY' ? '🟢' : '🔴' }} *{{ $json.symbol }} — {{ $json.signal }}*\n{{ $json.signalType }}\n\n{{ $json.entryEmoji }} *VALIDITY: {{ $json.entryValidity }}*\n📋 *{{ $json.entryAction }}*\n\n🎯 *Entry:* `{{ $json.price }}`\n📊 *Trigger:* {{ $json.wsDirection }} {{ $json.wsChange }}\n🧠 *Strategy:* {{ $json.strategy }}\n\n*💎 Profit Targets:*\n├ 🥇 *TP1:* `{{ $json.tp1 }}` ({{ $json.estTP1 }}) — RR {{ $json.estRR1 }}\n├ 🥈 *TP2:* `{{ $json.tp2 }}` ({{ $json.estTP2 }}) — RR {{ $json.estRR2 }}\n├ 🥉 *TP3:* `{{ $json.tp3 }}` ({{ $json.estTP3 }}) — RR {{ $json.estRR3 }}\n├ 🛡️ *SL:* `{{ $json.sl }}` ({{ $json.estRisk }})\n└ 📐 ATR: {{ $json.atr }} ({{ $json.atrPct }})\n\n*📌 Pro Trader Guide:*\n├ 💰 *Position Size:* {{ $json.positionSize }}\n├ ⏱ *Hold Duration:* {{ $json.holdDuration }}\n└ 📖 *Management:* {{ $json.tradeManagement }}\n\n*📡 Market Intelligence:*\n├ 📅 Daily: {{ $json.dailyTrend }} | Weekly: {{ $json.weeklyBias }}\n├ 4H: {{ $json.trend4h }} | 1H: {{ $json.trend1h }}\n├ Structure: {{ $json.marketStructure }}\n├ RSI: {{ $json.rsi1h }} | MACD: {{ $json.macdCross }}\n├ Vol: {{ $json.volRatio }}\n└ {{ $json.macroTrend }}\n\n*⚡ Futures Intelligence:*\n├ Funding: {{ $json.fundingRate }}\n├ Open Interest: {{ $json.openInterest }}\n├ L/S Ratio: {{ $json.longShortRatio }}\n└ Taker: {{ $json.takerVolume }}\n\n*Support & Resistance:*\n├ 🔺 Res: `{{ $json.resistance }}` ({{ $json.distResistance }})\n└ 🔻 Sup: `{{ $json.support }}` ({{ $json.distSupport }})\n\n💡 _{{ $json.reasons }}_\n\n🤖 _v16.0 Dual-Layer Engine | {{ $json.signalType }}_\n🔗 [Binance](https://www.binance.com/en/futures/{{ $json.symbol }}) | [TV](https://www.tradingview.com/chart/?symbol=BINANCE:{{ $json.symbol }}.P)\n{{ $json.volumeWarning ? \"\\n⚠️ \" + $json.volumeWarning : \"\" }}\n⏰ {{ $now.setZone('Asia/Jakarta').format('dd MMM HH:mm') }} WIB",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      }
    },
    {
      "id": "n12",
      "name": "Ntfy Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        3100,
        450
      ],
      "parameters": {
        "method": "POST",
        "url": "https://ntfy.sh/cryptospike-bot-tetot",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Title",
              "value": "={{ $json.signal === 'STRONG BUY' ? '🟢' : '🔴' }} {{ $json.symbol }} — {{ $json.signal }} ({{ $json.score }})"
            },
            {
              "name": "Tags",
              "value": "={{ $json.signal === 'STRONG BUY' ? 'green_circle,chart_with_upwards_trend' : 'red_circle,chart_with_downwards_trend' }}"
            },
            {
              "name": "Priority",
              "value": "={{ $json.confidence === 'VERY HIGH' ? '5' : '4' }}"
            },
            {
              "name": "Actions",
              "value": "=view, Binance, https://www.binance.com/en/futures/{{ $json.symbol }}; view, TV, https://www.tradingview.com/chart/?symbol=BINANCE:{{ $json.symbol }}.P"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "string",
        "body": "={{ $json.signal === \"STRONG BUY\" ? \"🟢\" : \"🔴\" }} {{ $json.symbol }} — {{ $json.signal }}\n🎯 {{ $json.confidence }} (Score: {{ $json.score }}/100)\n\n💰 Entry: {{ $json.price }} | {{ $json.wsDirection }} {{ $json.wsChange }}\n📈 {{ $json.strategy }}\n\n💵 TP1: {{ $json.tp1 }} ({{ $json.estTP1 }}) RR {{ $json.estRR1 }}\n💵 TP2: {{ $json.tp2 }} ({{ $json.estTP2 }}) RR {{ $json.estRR2 }}\n💵 TP3: {{ $json.tp3 }} ({{ $json.estTP3 }}) RR {{ $json.estRR3 }}\n🛡️ SL: {{ $json.sl }} ({{ $json.estRisk }})\n\n📡 Market:\n├ Daily: {{ $json.dailyTrend }} | Weekly: {{ $json.weeklyBias }}\n├ 4H: {{ $json.trend4h }} | 1H: {{ $json.trend1h }}\n├ Structure: {{ $json.marketStructure }}\n├ RSI: {{ $json.rsi1h }} | Vol: {{ $json.volRatio }}\n\n⚡ Futures:\n├ Funding: {{ $json.fundingRate }}\n├ OI: {{ $json.openInterest }}\n├ L/S: {{ $json.longShortRatio }}\n└ Taker: {{ $json.takerVolume }}\n\n💡 {{ $json.reasons }}\n📊 v15.2 Max Data Engine\n⏰ {{ $now.setZone(\"Asia/Jakarta\").format(\"dd MMM HH:mm\") }} WIB",
        "options": {}
      }
    },
    {
      "id": "n13",
      "name": "Log Skip",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        3100,
        700
      ],
      "disabled": true,
      "credentials": {
        "telegramApi": {
          "id": "aNtvHk0oDffDwsLX",
          "name": "Telegram account"
        }
      },
      "parameters": {
        "chatId": "@cryptospikehunter",
        "text": "=📋 *{{ $json.symbol }}* — SKIP\n_{{ $json.rejectReason }}_",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      }
    },
    {
      "id": "cron_trigger_1",
      "name": "Schedule Trigger (30m)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        200,
        600
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 30
            }
          ]
        }
      }
    },
    {
      "id": "get_tickers_1",
      "name": "Get 24h Tickers",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        500,
        600
      ],
      "parameters": {
        "url": "https://fapi.binance.com/fapi/v1/ticker/24hr",
        "options": {}
      }
    },
    {
      "id": "filter_tickers_1",
      "name": "Filter Top Volatile",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        750,
        600
      ],
      "parameters": {
        "jsCode": "const THRESHOLD = 5.0;\nlet tickers = $input.first().json;\nif(typeof tickers === 'string') tickers = JSON.parse(tickers);\n\nlet candidates = tickers.filter(t => \n    t.symbol.endsWith('USDT') && \n    parseFloat(t.quoteVolume) > 1000000 && \n    Math.abs(parseFloat(t.priceChangePercent)) >= THRESHOLD\n);\ncandidates.sort((a,b) => Math.abs(parseFloat(b.priceChangePercent)) - Math.abs(parseFloat(a.priceChangePercent)));\nlet scanList = candidates.slice(0, 15);\n\nreturn scanList.map(t => {\n    let pct = parseFloat(t.priceChangePercent);\n    return {\n        json: {\n            symbol: t.symbol,\n            priceChangePercent: t.priceChangePercent,\n            direction: pct > 0 ? 'PUMP' : 'DUMP',\n            threshold: THRESHOLD.toString(),\n            quoteVolume: t.quoteVolume,\n            triggeredAt: new Date().toISOString(),\n            source: 'HOURLY_SCANNER'\n        }\n    };\n});"
      }
    },
    {
      "id": "stand_webhook_1",
      "name": "Standardize Webhook",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        500,
        300
      ],
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "symbol",
              "value": "={{ $json.body.symbol }}"
            },
            {
              "name": "priceChangePercent",
              "value": "={{ $json.body.priceChangePercent }}"
            },
            {
              "name": "direction",
              "value": "={{ $json.body.direction }}"
            },
            {
              "name": "threshold",
              "value": "={{ $json.body.threshold }}"
            },
            {
              "name": "quoteVolume",
              "value": "={{ $json.body.quoteVolume }}"
            },
            {
              "name": "triggeredAt",
              "value": "={{ $json.body.triggeredAt }}"
            },
            {
              "name": "source",
              "value": "WEBHOOK"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "split_in_batches_1",
      "name": "Split In Batches (Rate Limit)",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 2,
      "position": [
        1000,
        450
      ],
      "parameters": {
        "batchSize": 5
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Standardize Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Klines 1h": {
      "main": [
        [
          {
            "node": "Get Klines 4h",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Klines 4h": {
      "main": [
        [
          {
            "node": "Get Klines 1D",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Klines 1D": {
      "main": [
        [
          {
            "node": "Get Funding Rate",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get OI History",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Long Short Ratio",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Taker Volume",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Hot?": {
      "main": [
        [
          {
            "node": "Telegram Alert",
            "type": "main",
            "index": 0
          },
          {
            "node": "Ntfy Alert",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Skip",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Funding Rate": {
      "main": [
        [
          {
            "node": "Pro Analisa TA v16.0",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get OI History": {
      "main": [
        [
          {
            "node": "Pro Analisa TA v16.0",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Long Short Ratio": {
      "main": [
        [
          {
            "node": "Pro Analisa TA v16.0",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Taker Volume": {
      "main": [
        [
          {
            "node": "Pro Analisa TA v16.0",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pro Analisa TA v16.0": {
      "main": [
        [
          {
            "node": "Is Hot?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger (30m)": {
      "main": [
        [
          {
            "node": "Get 24h Tickers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get 24h Tickers": {
      "main": [
        [
          {
            "node": "Filter Top Volatile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Standardize Webhook": {
      "main": [
        [
          {
            "node": "Split In Batches (Rate Limit)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Top Volatile": {
      "main": [
        [
          {
            "node": "Split In Batches (Rate Limit)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches (Rate Limit)": {
      "main": [
        [
          {
            "node": "Get Klines 1h",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "tags": []
}